{#
/**
 * @file
 * Default theme implementation for a set of links.
 *
 * Available variables:
 * - attributes: Attributes for the UL containing the list of links.
 * - links: Links to be output.
 *   Each link will have the following elements:
 *   - link: (optional) A render array that returns a link. See
 *     template_preprocess_links() for details how it is generated.
 *   - text: The link text.
 *   - attributes: HTML attributes for the list item element.
 *   - text_attributes: (optional) HTML attributes for the span element if no
 *     'url' was supplied.
 * - heading: (optional) A heading to precede the links.
 *   - text: The heading text.
 *   - level: The heading level (e.g. 'h2', 'h3').
 *   - attributes: (optional) A keyed list of attributes for the heading.
 *   If the heading is a string, it will be used as the text of the heading and
 *   the level will default to 'h2'.
 *
 *   Headings should be used on navigation menus and any list of links that
 *   consistently appears on multiple pages. To make the heading invisible use
 *   the 'visually-hidden' CSS class. Do not use 'display:none', which
 *   removes it from screen readers and assistive technology. Headings allow
 *   screen reader and keyboard only users to navigate to or skip the links.
 *   See http://juicystudio.com/article/screen-readers-display-none.php and
 *   http://www.w3.org/TR/WCAG-TECHS/H42.html for more information.
 *
 * @see template_preprocess_links()
 *
 * @ingroup themeable
 */
#}

{# {% if links -%}
	<button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
		{% if language_id == 'fr' %}
			Fr
		{% elseif language_id == 'en' %}
			En
		{% else %}
			{{ language_name }}
		{% endif %}
		<svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewbox="0 0 6 6" fill="none">
			<g clip-path="url(#clip0_48_134)">
				<path d="M4.14329 0.630312C4.30663 0.470313 4.49829 0.371979 4.71829 0.335313C4.92163 0.301979 5.11996 0.326146 5.31329 0.407813C5.50663 0.489479 5.66329 0.615313 5.78329 0.785313C5.90996 0.965312 5.97329 1.17031 5.97329 1.40031V4.24031C5.97329 4.43698 5.92496 4.61781 5.82829 4.78281C5.73163 4.94781 5.60079 5.07865 5.43579 5.17531C5.27079 5.27198 5.08996 5.32031 4.89329 5.32031H1.98829C1.75496 5.32031 1.54829 5.25531 1.36829 5.12531C1.19829 5.00531 1.07246 4.84615 0.990792 4.64781C0.909126 4.44948 0.886626 4.24865 0.923292 4.04531C0.963292 3.82531 1.06663 3.63365 1.23329 3.47031L4.14329 0.630312Z" fill="white"></path>
			</g>
			<defs>
				<clipPath id="clip0_48_134">
					<rect width="5.08" height="5" fill="white" transform="matrix(1 0 0 -1 0.90625 5.32031)"></rect>
				</clipPath>
			</defs>
		</svg>
	</button>
	<ul class="dropdown-menu">
		{% for key, item in links %}
			{% if key != language_id %}
				<li>
					{{ item.link }}
				</li>
			{% endif %}
		{% endfor %}

	</ul>
{%- endif %} #}
 {# <button class="btn btn-lang dropdown-toggle" type="button" id="langDropdown" data-bs-toggle="dropdown" aria-expanded="false">FR</button>
						<ul class="dropdown-menu" aria-labelledby="langDropdown">
							<li>
								<a class="dropdown-item" href="#">EN</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">ES</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">DE</a>
							</li>
						</ul> #}

            {# ****************** #}


<div class="dropdown">
{% if links -%}
	<button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" id="langDropdown">
		{% if language_id == 'fr' %}
	 Fr
		{% elseif language_id == 'en' %}
			En
		{% else %}
			{{ language_name }}
		{% endif %}
	</button>
		<ul class="dropdown-menu" aria-labelledby="langDropdown">
		{% for key, item in links %}
			{% if key != language_id %}
				<li>
					{% if key == 'fr' %}
	 {{ item.link }}
					{% elseif key == 'en' %}
				 {{ item.link }}
					{% else %}
						{{ item.link }}
					{% endif %}
				</li>
			{% endif %}
		{% endfor %}
	</ul>
{%- endif %}
</div>