{{ drupal_entity('block','cfc_safelandingbloc1') }}
{{ drupal_entity('block','cfc_safelandingbloc2') }}
{{ drupal_entity('block','cfc_safelandingbloc3') }}
{{ drupal_entity('block','cfc_safelandingbloc4') }}
{{ drupal_entity('block','cfc_safelandingbloc5') }}

{# <section class="contact---us" id="contact---us">
	<div
		class="contact-container">
		<!-- Left Form Section -->
		<div class="contact-form">
			<h3>{{'I am interested in getting in touch with Casablanca Finance City'|t}}</h3>

			<div class="web__form_dr">
				{{ drupal_entity('block','cfc_webform') }}
			</div>
		</div>

		<!-- Right Image Section -->
		<div class="contact-image">
			<img src="/themes/custom/cfc/CFC/assets/images/contatc-img.png" alt="Office"/>
		</div>
	</div>
</section> #}
