
  	{{ drupal_entity('block','cfc_avantagesexclusifspourlesmembrescfc') }}

  <section class="nos_partenaires_avantage">
    <div class="title-primary-sc mb-3">
      <h2 class="text-center mb-4">{{'Nos Partenaires Privilégiés'|t}}</h2>
    </div>
    <div class="container">
      <div class="row">

        <!-- Tabs -->
        <div class="all_avantage_tabs">
          <div class="tab active" data-tab="culture"><svg xmlns="http://www.w3.org/2000/svg" width="54" height="54"
              viewBox="0 0 54 54" fill="none">
              <path
                d="M39.375 27C38.4799 27 37.6215 26.6444 36.9885 26.0115C36.3556 25.3786 36 24.5201 36 23.625C36 22.7299 36.3556 21.8714 36.9885 21.2385C37.6215 20.6056 38.4799 20.25 39.375 20.25C40.2701 20.25 41.1285 20.6056 41.7615 21.2385C42.3944 21.8714 42.75 22.7299 42.75 23.625C42.75 24.5201 42.3944 25.3786 41.7615 26.0115C41.1285 26.6444 40.2701 27 39.375 27ZM32.625 18C31.7299 18 30.8714 17.6444 30.2385 17.0115C29.6056 16.3786 29.25 15.5201 29.25 14.625C29.25 13.7299 29.6056 12.8714 30.2385 12.2385C30.8714 11.6056 31.7299 11.25 32.625 11.25C33.5201 11.25 34.3786 11.6056 35.0115 12.2385C35.6444 12.8714 36 13.7299 36 14.625C36 15.5201 35.6444 16.3786 35.0115 17.0115C34.3786 17.6444 33.5201 18 32.625 18ZM21.375 18C20.4799 18 19.6214 17.6444 18.9885 17.0115C18.3556 16.3786 18 15.5201 18 14.625C18 13.7299 18.3556 12.8714 18.9885 12.2385C19.6214 11.6056 20.4799 11.25 21.375 11.25C22.2701 11.25 23.1286 11.6056 23.7615 12.2385C24.3944 12.8714 24.75 13.7299 24.75 14.625C24.75 15.5201 24.3944 16.3786 23.7615 17.0115C23.1286 17.6444 22.2701 18 21.375 18ZM14.625 27C13.7299 27 12.8714 26.6444 12.2385 26.0115C11.6056 25.3786 11.25 24.5201 11.25 23.625C11.25 22.7299 11.6056 21.8714 12.2385 21.2385C12.8714 20.6056 13.7299 20.25 14.625 20.25C15.5201 20.25 16.3786 20.6056 17.0115 21.2385C17.6444 21.8714 18 22.7299 18 23.625C18 24.5201 17.6444 25.3786 17.0115 26.0115C16.3786 26.6444 15.5201 27 14.625 27ZM27 6.75C21.6294 6.75 16.4787 8.88348 12.6811 12.6811C8.88348 16.4787 6.75 21.6294 6.75 27C6.75 32.3706 8.88348 37.5213 12.6811 41.3189C16.4787 45.1165 21.6294 47.25 27 47.25C27.8951 47.25 28.7536 46.8944 29.3865 46.2615C30.0194 45.6285 30.375 44.7701 30.375 43.875C30.375 42.9975 30.0375 42.21 29.4975 41.625C28.98 41.0175 28.6425 40.23 28.6425 39.375C28.6425 38.4799 28.9981 37.6215 29.631 36.9885C30.264 36.3556 31.1224 36 32.0175 36H36C38.9837 36 41.8452 34.8147 43.955 32.705C46.0647 30.5952 47.25 27.7337 47.25 24.75C47.25 14.805 38.1825 6.75 27 6.75Z"
                fill="white" />
            </svg>{{'Art & Culture'|t}}</div>
          <div class="tab" data-tab="services"><svg xmlns="http://www.w3.org/2000/svg" width="41" height="42"
              viewBox="0 0 41 42" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M0.84375 2.38772H16.875C17.341 2.38772 17.7188 2.76546 17.7188 3.23147V19.2627C17.7188 19.7287 17.341 20.1065 16.875 20.1065H0.84375C0.377736 20.1065 0 19.7287 0 19.2627V3.23147C0 2.76546 0.377736 2.38772 0.84375 2.38772ZM30.6025 1.0518L40.1484 10.5978C40.4779 10.9273 40.4779 11.4615 40.1484 11.791L30.6024 21.3369C30.273 21.6664 29.7388 21.6664 29.4092 21.3369L19.8633 11.7909C19.5338 11.4615 19.5338 10.9273 19.8633 10.5977L29.4093 1.0518C29.7388 0.722316 30.273 0.722316 30.6025 1.0518ZM0.84375 23.4815H16.875C17.341 23.4815 17.7188 23.8592 17.7188 24.3252V40.3565C17.7188 40.8225 17.341 41.2002 16.875 41.2002H0.84375C0.377736 41.2002 0 40.8225 0 40.3565V24.3252C0 23.8592 0.377736 23.4815 0.84375 23.4815ZM21.9375 23.4815H37.9688C38.4348 23.4815 38.8125 23.8592 38.8125 24.3252V40.3565C38.8125 40.8225 38.4348 41.2002 37.9688 41.2002H21.9375C21.4715 41.2002 21.0938 40.8225 21.0938 40.3565V24.3252C21.0938 23.8592 21.4715 23.4815 21.9375 23.4815Z"
                fill="#90A1BA" />
            </svg>{{'Services'|t}}</div>
          <div class="tab" data-tab="hotels"><svg xmlns="http://www.w3.org/2000/svg" width="54" height="54"
              viewBox="0 0 54 54" fill="none">
              <path
                d="M4.5 42.75C3.8625 42.75 3.3285 42.534 2.898 42.102C2.4675 41.67 2.2515 41.136 2.25 40.5V11.25C2.25 10.6125 2.466 10.0785 2.898 9.64801C3.33 9.21751 3.864 9.00151 4.5 9.00001C5.136 8.99851 5.67075 9.21451 6.10425 9.64801C6.53775 10.0815 6.753 10.6155 6.75 11.25V31.5H24.75V18C24.75 16.7625 25.191 15.7035 26.073 14.823C26.955 13.9425 28.014 13.5015 29.25 13.5H42.75C45.225 13.5 47.3438 14.3813 49.1063 16.1438C50.8688 17.9063 51.75 20.025 51.75 22.5V40.5C51.75 41.1375 51.534 41.6723 51.102 42.1043C50.67 42.5363 50.136 42.7515 49.5 42.75C48.864 42.7485 48.33 42.5325 47.898 42.102C47.466 41.6715 47.25 41.1375 47.25 40.5V36H6.75V40.5C6.75 41.1375 6.534 41.6723 6.102 42.1043C5.67 42.5363 5.136 42.7515 4.5 42.75ZM15.75 29.25C13.875 29.25 12.2813 28.5938 10.9688 27.2813C9.65625 25.9688 9 24.375 9 22.5C9 20.625 9.65625 19.0313 10.9688 17.7188C12.2813 16.4063 13.875 15.75 15.75 15.75C17.625 15.75 19.2188 16.4063 20.5313 17.7188C21.8438 19.0313 22.5 20.625 22.5 22.5C22.5 24.375 21.8438 25.9688 20.5313 27.2813C19.2188 28.5938 17.625 29.25 15.75 29.25Z"
                fill="#90A1BA" />
            </svg>{{'Hôtellerie'|t}}</div>
          <div class="tab" data-tab="sante"><svg xmlns="http://www.w3.org/2000/svg" width="55" height="54"
              viewBox="0 0 55 54" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M20.2686 41.4222C13.6673 36.3531 4.65234 27.9795 4.65234 20.0622C4.65234 6.83524 16.9893 1.89649 27.0831 12.1112C37.177 1.89649 49.5139 6.83524 49.5139 20.0622C49.5139 27.9795 40.4967 36.3531 33.8976 41.4222C30.9098 43.7151 29.4159 44.8638 27.0831 44.8638C24.7503 44.8638 23.2564 43.7174 20.2686 41.4222ZM37.177 13.9545C37.6231 13.9545 38.051 14.1321 38.3665 14.4483C38.682 14.7645 38.8593 15.1933 38.8593 15.6405V18.4504H41.6631C42.1093 18.4504 42.5372 18.628 42.8527 18.9442C43.1682 19.2604 43.3454 19.6892 43.3454 20.1364C43.3454 20.5835 43.1682 21.0123 42.8527 21.3285C42.5372 21.6447 42.1093 21.8223 41.6631 21.8223H38.8593V24.6323C38.8593 25.0794 38.682 25.5082 38.3665 25.8244C38.051 26.1406 37.6231 26.3182 37.177 26.3182C36.7308 26.3182 36.3029 26.1406 35.9874 25.8244C35.6719 25.5082 35.4946 25.0794 35.4946 24.6323V21.8223H32.6908C32.2446 21.8223 31.8167 21.6447 31.5012 21.3285C31.1857 21.0123 31.0085 20.5835 31.0085 20.1364C31.0085 19.6892 31.1857 19.2604 31.5012 18.9442C31.8167 18.628 32.2446 18.4504 32.6908 18.4504H35.4946V15.6405C35.4946 15.1933 35.6719 14.7645 35.9874 14.4483C36.3029 14.1321 36.7308 13.9545 37.177 13.9545Z"
                fill="#90A1BA" />
            </svg>{{'Santé & Bien-être'|t}}</div>
        </div>

        <!-- Tab Contents -->
        <div class="tab-content active" data-tab="culture">
          <div class="cards-container">
          {# <div class="card">
            <div class="ocrd_item_culture">
              <img src="/themes/custom/cfc/CFC/assets/images/avn-1.png">
              <h4>Le Studio des Arts Vivants</h4>
              <p>Activités artistiques pour tous les âges.</p>
            </div>
            <div class="btn_bottom_align">
              <span>CFC Exclusive</span>
              <span class="btn_btm_avantage">
                <a href="#">Voir le détail <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36"
                    viewBox="0 0 36 36" fill="none">
                    <g clip-path="url(#clip0_7150_16843)">
                      <path
                        d="M30.5452 16.9434C30.8264 17.2247 30.9844 17.6061 30.9844 18.0039C30.9844 18.4016 30.8264 18.7831 30.5452 19.0644L22.0597 27.5499C21.9213 27.6931 21.7558 27.8074 21.5728 27.886C21.3898 27.9646 21.193 28.006 20.9938 28.0078C20.7946 28.0095 20.5971 27.9715 20.4128 27.8961C20.2284 27.8207 20.0609 27.7093 19.9201 27.5685C19.7793 27.4276 19.6679 27.2602 19.5925 27.0758C19.517 26.8915 19.4791 26.6939 19.4808 26.4948C19.4825 26.2956 19.5239 26.0988 19.6025 25.9158C19.6812 25.7328 19.7954 25.5673 19.9387 25.4289L25.8637 19.5039H5.9992C5.60137 19.5039 5.21984 19.3458 4.93853 19.0645C4.65723 18.7832 4.4992 18.4017 4.4992 18.0039C4.4992 17.6061 4.65723 17.2245 4.93853 16.9432C5.21984 16.6619 5.60137 16.5039 5.9992 16.5039H25.8637L19.9387 10.5789C19.6655 10.296 19.5143 9.91707 19.5177 9.52378C19.5211 9.13048 19.6789 8.75426 19.957 8.47615C20.2351 8.19804 20.6113 8.04029 21.0046 8.03687C21.3979 8.03345 21.7768 8.18464 22.0597 8.45788L30.5452 16.9434Z"
                        fill="url(#paint0_linear_7150_16843)" />
                    </g>
                    <defs>
                      <linearGradient id="paint0_linear_7150_16843" x1="17.7418" y1="28.0078" x2="19.2653" y2="9.78976"
                        gradientUnits="userSpaceOnUse">
                        <stop stop-color="#009681" />
                        <stop offset="1" stop-color="#007565" />
                      </linearGradient>
                      <clipPath id="clip0_7150_16843">
                        <rect width="36" height="36" fill="white" transform="matrix(0 -1 -1 0 36 36)" />
                      </clipPath>
                    </defs>
                  </svg></a>
              </span>
            </div>
            <div class="wisiwig--content-ps d-none">
              <h4>Le Studio des Arts Vivants</h4>
              <div class="wisiwig--content-text">
                Profitez de tarifs exclusifs CFC dans tous les hôtels ONOMO au Maroc : Casablanca, Rabat et Tanger.  
                <br>
                Comment bénéficier de l’offre ?  
                <br>
                En ligne sur le site officiel de Onomo : www.onomohotels.com , en utilisant le code exclusif CFC25 pour
                bénéficier de tarifs spéciaux. 
                Pour toute autre réservation, contactez par téléphone ou par email l’établissement qui vous intéresse en
                utilisant les coordonnées ci-dessous :  
                <br>
                ONOMO HOTEL CASABLANCA CITY CENTER 4****  
                <br>
                Tel : + 212 (0) 5 20 00 10 10  
                <br>
                Mobile : 212 (0) 632 66 66 20  
                <br>
                E-mail : reservation1.massira@onomohotel.com / reservation.maroc@onomohotel.com 
                <br>

                ONOMO HOTEL CASABLANCA SIDI MAAROUF 3*** 
                <br>
                Tel : + 212 (0) 5 20 00 12 00  
              </div>
            </div>
          </div>
          <div class="card">
            <div class="ocrd_item_culture">
              <img src="/themes/custom/cfc/CFC/assets/images/avn-1.png">
              <h4>Le Studio des Arts Vivants</h4>
              <p>Activités artistiques pour tous les âges.</p>
            </div>
            <div class="btn_bottom_align">
              <span>CFC Exclusive</span>
              <span class="btn_btm_avantage">
                <a href="#">Voir le détail <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36"
                    viewBox="0 0 36 36" fill="none">
                    <g clip-path="url(#clip0_7150_16843)">
                      <path
                        d="M30.5452 16.9434C30.8264 17.2247 30.9844 17.6061 30.9844 18.0039C30.9844 18.4016 30.8264 18.7831 30.5452 19.0644L22.0597 27.5499C21.9213 27.6931 21.7558 27.8074 21.5728 27.886C21.3898 27.9646 21.193 28.006 20.9938 28.0078C20.7946 28.0095 20.5971 27.9715 20.4128 27.8961C20.2284 27.8207 20.0609 27.7093 19.9201 27.5685C19.7793 27.4276 19.6679 27.2602 19.5925 27.0758C19.517 26.8915 19.4791 26.6939 19.4808 26.4948C19.4825 26.2956 19.5239 26.0988 19.6025 25.9158C19.6812 25.7328 19.7954 25.5673 19.9387 25.4289L25.8637 19.5039H5.9992C5.60137 19.5039 5.21984 19.3458 4.93853 19.0645C4.65723 18.7832 4.4992 18.4017 4.4992 18.0039C4.4992 17.6061 4.65723 17.2245 4.93853 16.9432C5.21984 16.6619 5.60137 16.5039 5.9992 16.5039H25.8637L19.9387 10.5789C19.6655 10.296 19.5143 9.91707 19.5177 9.52378C19.5211 9.13048 19.6789 8.75426 19.957 8.47615C20.2351 8.19804 20.6113 8.04029 21.0046 8.03687C21.3979 8.03345 21.7768 8.18464 22.0597 8.45788L30.5452 16.9434Z"
                        fill="url(#paint0_linear_7150_16843)" />
                    </g>
                    <defs>
                      <linearGradient id="paint0_linear_7150_16843" x1="17.7418" y1="28.0078" x2="19.2653" y2="9.78976"
                        gradientUnits="userSpaceOnUse">
                        <stop stop-color="#009681" />
                        <stop offset="1" stop-color="#007565" />
                      </linearGradient>
                      <clipPath id="clip0_7150_16843">
                        <rect width="36" height="36" fill="white" transform="matrix(0 -1 -1 0 36 36)" />
                      </clipPath>
                    </defs>
                  </svg></a>
              </span>
            </div>
            <div class="wisiwig--content-ps d-none">
              <h4>Le Studio des Arts Vivants</h4>
              <div class="wisiwig--content-text">
                Profitez de tarifs exclusifs CFC dans tous les hôtels ONOMO au Maroc : Casablanca, Rabat et Tanger.  
                <br>
                Comment bénéficier de l’offre ?  
                <br>
                En ligne sur le site officiel de Onomo : www.onomohotels.com , en utilisant le code exclusif CFC25 pour
                bénéficier de tarifs spéciaux. 
                Pour toute autre réservation, contactez par téléphone ou par email l’établissement qui vous intéresse en
                utilisant les coordonnées ci-dessous :  
                <br>
                ONOMO HOTEL CASABLANCA CITY CENTER 4****  
                <br>
                Tel : + 212 (0) 5 20 00 10 10  
                <br>
                Mobile : 212 (0) 632 66 66 20  
                <br>
                E-mail : reservation1.massira@onomohotel.com / reservation.maroc@onomohotel.com 
                <br>

                ONOMO HOTEL CASABLANCA SIDI MAAROUF 3*** 
                <br>
                Tel : + 212 (0) 5 20 00 12 00  
              </div>
            </div>
          </div>
          <div class="card">
            <div class="ocrd_item_culture">
              <img src="/themes/custom/cfc/CFC/assets/images/avn-1.png">
              <h4>Le Studio des Arts Vivants</h4>
              <p>Activités artistiques pour tous les âges.</p>
            </div>
            <div class="btn_bottom_align">
              <span>CFC Exclusive</span>
              <span class="btn_btm_avantage">
                <a href="#">Voir le détail <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36"
                    viewBox="0 0 36 36" fill="none">
                    <g clip-path="url(#clip0_7150_16843)">
                      <path
                        d="M30.5452 16.9434C30.8264 17.2247 30.9844 17.6061 30.9844 18.0039C30.9844 18.4016 30.8264 18.7831 30.5452 19.0644L22.0597 27.5499C21.9213 27.6931 21.7558 27.8074 21.5728 27.886C21.3898 27.9646 21.193 28.006 20.9938 28.0078C20.7946 28.0095 20.5971 27.9715 20.4128 27.8961C20.2284 27.8207 20.0609 27.7093 19.9201 27.5685C19.7793 27.4276 19.6679 27.2602 19.5925 27.0758C19.517 26.8915 19.4791 26.6939 19.4808 26.4948C19.4825 26.2956 19.5239 26.0988 19.6025 25.9158C19.6812 25.7328 19.7954 25.5673 19.9387 25.4289L25.8637 19.5039H5.9992C5.60137 19.5039 5.21984 19.3458 4.93853 19.0645C4.65723 18.7832 4.4992 18.4017 4.4992 18.0039C4.4992 17.6061 4.65723 17.2245 4.93853 16.9432C5.21984 16.6619 5.60137 16.5039 5.9992 16.5039H25.8637L19.9387 10.5789C19.6655 10.296 19.5143 9.91707 19.5177 9.52378C19.5211 9.13048 19.6789 8.75426 19.957 8.47615C20.2351 8.19804 20.6113 8.04029 21.0046 8.03687C21.3979 8.03345 21.7768 8.18464 22.0597 8.45788L30.5452 16.9434Z"
                        fill="url(#paint0_linear_7150_16843)" />
                    </g>
                    <defs>
                      <linearGradient id="paint0_linear_7150_16843" x1="17.7418" y1="28.0078" x2="19.2653" y2="9.78976"
                        gradientUnits="userSpaceOnUse">
                        <stop stop-color="#009681" />
                        <stop offset="1" stop-color="#007565" />
                      </linearGradient>
                      <clipPath id="clip0_7150_16843">
                        <rect width="36" height="36" fill="white" transform="matrix(0 -1 -1 0 36 36)" />
                      </clipPath>
                    </defs>
                  </svg></a>
              </span>
            </div>
            <div class="wisiwig--content-ps d-none">
              <h4>Le Studio des Arts Vivants 2</h4>
              <div class="wisiwig--content-text">
                Profitez de tarifs exclusifs CFC dans tous les hôtels ONOMO au Maroc : Casablanca, Rabat et Tanger.  
                <br>
                Comment bénéficier de l’offre ?  
                <br>
                En ligne sur le site officiel de Onomo : www.onomohotels.com , en utilisant le code exclusif CFC25 pour
                bénéficier de tarifs spéciaux. 
                Pour toute autre réservation, contactez par téléphone ou par email l’établissement qui vous intéresse en
                utilisant les coordonnées ci-dessous :  
                <br>
                ONOMO HOTEL CASABLANCA CITY CENTER 4****  
                <br>
                Tel : + 212 (0) 5 20 00 10 10  
                <br>
                Mobile : 212 (0) 632 66 66 20  
                <br>
                E-mail : reservation1.massira@onomohotel.com / reservation.maroc@onomohotel.com 
                <br>

                ONOMO HOTEL CASABLANCA SIDI MAAROUF 3*** 
                <br>
                Tel : + 212 (0) 5 20 00 12 00  
              </div>
            </div>
          </div>
          <div class="card">
            <div class="ocrd_item_culture">
              <img src="/themes/custom/cfc/CFC/assets/images/avn-1.png">
              <h4>Le Studio des Arts Vivants</h4>
              <p>Activités artistiques pour tous les âges.</p>
            </div>
            <div class="btn_bottom_align">
              <span>CFC Exclusive</span>
              <span class="btn_btm_avantage">
                <a href="#">Voir le détail <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36"
                    viewBox="0 0 36 36" fill="none">
                    <g clip-path="url(#clip0_7150_16843)">
                      <path
                        d="M30.5452 16.9434C30.8264 17.2247 30.9844 17.6061 30.9844 18.0039C30.9844 18.4016 30.8264 18.7831 30.5452 19.0644L22.0597 27.5499C21.9213 27.6931 21.7558 27.8074 21.5728 27.886C21.3898 27.9646 21.193 28.006 20.9938 28.0078C20.7946 28.0095 20.5971 27.9715 20.4128 27.8961C20.2284 27.8207 20.0609 27.7093 19.9201 27.5685C19.7793 27.4276 19.6679 27.2602 19.5925 27.0758C19.517 26.8915 19.4791 26.6939 19.4808 26.4948C19.4825 26.2956 19.5239 26.0988 19.6025 25.9158C19.6812 25.7328 19.7954 25.5673 19.9387 25.4289L25.8637 19.5039H5.9992C5.60137 19.5039 5.21984 19.3458 4.93853 19.0645C4.65723 18.7832 4.4992 18.4017 4.4992 18.0039C4.4992 17.6061 4.65723 17.2245 4.93853 16.9432C5.21984 16.6619 5.60137 16.5039 5.9992 16.5039H25.8637L19.9387 10.5789C19.6655 10.296 19.5143 9.91707 19.5177 9.52378C19.5211 9.13048 19.6789 8.75426 19.957 8.47615C20.2351 8.19804 20.6113 8.04029 21.0046 8.03687C21.3979 8.03345 21.7768 8.18464 22.0597 8.45788L30.5452 16.9434Z"
                        fill="url(#paint0_linear_7150_16843)" />
                    </g>
                    <defs>
                      <linearGradient id="paint0_linear_7150_16843" x1="17.7418" y1="28.0078" x2="19.2653" y2="9.78976"
                        gradientUnits="userSpaceOnUse">
                        <stop stop-color="#009681" />
                        <stop offset="1" stop-color="#007565" />
                      </linearGradient>
                      <clipPath id="clip0_7150_16843">
                        <rect width="36" height="36" fill="white" transform="matrix(0 -1 -1 0 36 36)" />
                      </clipPath>
                    </defs>
                  </svg></a>
              </span>
            </div>
            <div class="wisiwig--content-ps d-none">
              <h4>Le Studio des Arts Vivants 2</h4>
              <div class="wisiwig--content-text">
                Profitez de tarifs exclusifs CFC dans tous les hôtels ONOMO au Maroc : Casablanca, Rabat et Tanger.  
                <br>
                Comment bénéficier de l’offre ?  
                <br>
                En ligne sur le site officiel de Onomo : www.onomohotels.com , en utilisant le code exclusif CFC25 pour
                bénéficier de tarifs spéciaux. 
                Pour toute autre réservation, contactez par téléphone ou par email l’établissement qui vous intéresse en
                utilisant les coordonnées ci-dessous :  
                <br>
                ONOMO HOTEL CASABLANCA CITY CENTER 4****  
                <br>
                Tel : + 212 (0) 5 20 00 10 10  
                <br>
                Mobile : 212 (0) 632 66 66 20  
                <br>
                E-mail : reservation1.massira@onomohotel.com / reservation.maroc@onomohotel.com 
                <br>

                ONOMO HOTEL CASABLANCA SIDI MAAROUF 3*** 
                <br>
                Tel : + 212 (0) 5 20 00 12 00  
              </div>
            </div>
          </div> #}
          {{ drupal_view('nos_partenaires_privilegies','block_1') }}

        </div>
        </div>

        <div class="tab-content" data-tab="services">
           <div class="cards-container">
        {{ drupal_view('nos_partenaires_privilegies','service') }}
          {# <div class="card">
            <div class="ocrd_item_culture">
              <img src="/themes/custom/cfc/CFC/assets/images/avn-1.png">
              <h4>Le Studio des Arts Vivants</h4>
              <p>Activités artistiques pour tous les âges.</p>
            </div>
            <div class="btn_bottom_align">
              <span>CFC Exclusive</span>
              <span class="btn_btm_avantage">
                <a href="#">Voir le détail <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36"
                    viewBox="0 0 36 36" fill="none">
                    <g clip-path="url(#clip0_7150_16843)">
                      <path
                        d="M30.5452 16.9434C30.8264 17.2247 30.9844 17.6061 30.9844 18.0039C30.9844 18.4016 30.8264 18.7831 30.5452 19.0644L22.0597 27.5499C21.9213 27.6931 21.7558 27.8074 21.5728 27.886C21.3898 27.9646 21.193 28.006 20.9938 28.0078C20.7946 28.0095 20.5971 27.9715 20.4128 27.8961C20.2284 27.8207 20.0609 27.7093 19.9201 27.5685C19.7793 27.4276 19.6679 27.2602 19.5925 27.0758C19.517 26.8915 19.4791 26.6939 19.4808 26.4948C19.4825 26.2956 19.5239 26.0988 19.6025 25.9158C19.6812 25.7328 19.7954 25.5673 19.9387 25.4289L25.8637 19.5039H5.9992C5.60137 19.5039 5.21984 19.3458 4.93853 19.0645C4.65723 18.7832 4.4992 18.4017 4.4992 18.0039C4.4992 17.6061 4.65723 17.2245 4.93853 16.9432C5.21984 16.6619 5.60137 16.5039 5.9992 16.5039H25.8637L19.9387 10.5789C19.6655 10.296 19.5143 9.91707 19.5177 9.52378C19.5211 9.13048 19.6789 8.75426 19.957 8.47615C20.2351 8.19804 20.6113 8.04029 21.0046 8.03687C21.3979 8.03345 21.7768 8.18464 22.0597 8.45788L30.5452 16.9434Z"
                        fill="url(#paint0_linear_7150_16843)" />
                    </g>
                    <defs>
                      <linearGradient id="paint0_linear_7150_16843" x1="17.7418" y1="28.0078" x2="19.2653" y2="9.78976"
                        gradientUnits="userSpaceOnUse">
                        <stop stop-color="#009681" />
                        <stop offset="1" stop-color="#007565" />
                      </linearGradient>
                      <clipPath id="clip0_7150_16843">
                        <rect width="36" height="36" fill="white" transform="matrix(0 -1 -1 0 36 36)" />
                      </clipPath>
                    </defs>
                  </svg></a>
              </span>
            </div>
          </div>
          <div class="card">
            <div class="ocrd_item_culture">
              <img src="/themes/custom/cfc/CFC/assets/images/avn-1.png">
              <h4>Le Studio des Arts Vivants</h4>
              <p>Activités artistiques pour tous les âges.</p>
            </div>
            <div class="btn_bottom_align">
              <span>CFC Exclusive</span>
              <span class="btn_btm_avantage">
                <a href="#">Voir le détail <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36"
                    viewBox="0 0 36 36" fill="none">
                    <g clip-path="url(#clip0_7150_16843)">
                      <path
                        d="M30.5452 16.9434C30.8264 17.2247 30.9844 17.6061 30.9844 18.0039C30.9844 18.4016 30.8264 18.7831 30.5452 19.0644L22.0597 27.5499C21.9213 27.6931 21.7558 27.8074 21.5728 27.886C21.3898 27.9646 21.193 28.006 20.9938 28.0078C20.7946 28.0095 20.5971 27.9715 20.4128 27.8961C20.2284 27.8207 20.0609 27.7093 19.9201 27.5685C19.7793 27.4276 19.6679 27.2602 19.5925 27.0758C19.517 26.8915 19.4791 26.6939 19.4808 26.4948C19.4825 26.2956 19.5239 26.0988 19.6025 25.9158C19.6812 25.7328 19.7954 25.5673 19.9387 25.4289L25.8637 19.5039H5.9992C5.60137 19.5039 5.21984 19.3458 4.93853 19.0645C4.65723 18.7832 4.4992 18.4017 4.4992 18.0039C4.4992 17.6061 4.65723 17.2245 4.93853 16.9432C5.21984 16.6619 5.60137 16.5039 5.9992 16.5039H25.8637L19.9387 10.5789C19.6655 10.296 19.5143 9.91707 19.5177 9.52378C19.5211 9.13048 19.6789 8.75426 19.957 8.47615C20.2351 8.19804 20.6113 8.04029 21.0046 8.03687C21.3979 8.03345 21.7768 8.18464 22.0597 8.45788L30.5452 16.9434Z"
                        fill="url(#paint0_linear_7150_16843)" />
                    </g>
                    <defs>
                      <linearGradient id="paint0_linear_7150_16843" x1="17.7418" y1="28.0078" x2="19.2653" y2="9.78976"
                        gradientUnits="userSpaceOnUse">
                        <stop stop-color="#009681" />
                        <stop offset="1" stop-color="#007565" />
                      </linearGradient>
                      <clipPath id="clip0_7150_16843">
                        <rect width="36" height="36" fill="white" transform="matrix(0 -1 -1 0 36 36)" />
                      </clipPath>
                    </defs>
                  </svg></a>
              </span>
            </div>
          </div>
          <div class="card">
            <div class="ocrd_item_culture">
              <img src="/themes/custom/cfc/CFC/assets/images/avn-1.png">
              <h4>Le Studio des Arts Vivants 3</h4>
              <p>Activités artistiques pour tous les âges.</p>
            </div>
            <div class="btn_bottom_align">
              <span>CFC Exclusive</span>
              <span class="btn_btm_avantage">
                <a href="#">Voir le détail <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36"
                    viewBox="0 0 36 36" fill="none">
                    <g clip-path="url(#clip0_7150_16843)">
                      <path
                        d="M30.5452 16.9434C30.8264 17.2247 30.9844 17.6061 30.9844 18.0039C30.9844 18.4016 30.8264 18.7831 30.5452 19.0644L22.0597 27.5499C21.9213 27.6931 21.7558 27.8074 21.5728 27.886C21.3898 27.9646 21.193 28.006 20.9938 28.0078C20.7946 28.0095 20.5971 27.9715 20.4128 27.8961C20.2284 27.8207 20.0609 27.7093 19.9201 27.5685C19.7793 27.4276 19.6679 27.2602 19.5925 27.0758C19.517 26.8915 19.4791 26.6939 19.4808 26.4948C19.4825 26.2956 19.5239 26.0988 19.6025 25.9158C19.6812 25.7328 19.7954 25.5673 19.9387 25.4289L25.8637 19.5039H5.9992C5.60137 19.5039 5.21984 19.3458 4.93853 19.0645C4.65723 18.7832 4.4992 18.4017 4.4992 18.0039C4.4992 17.6061 4.65723 17.2245 4.93853 16.9432C5.21984 16.6619 5.60137 16.5039 5.9992 16.5039H25.8637L19.9387 10.5789C19.6655 10.296 19.5143 9.91707 19.5177 9.52378C19.5211 9.13048 19.6789 8.75426 19.957 8.47615C20.2351 8.19804 20.6113 8.04029 21.0046 8.03687C21.3979 8.03345 21.7768 8.18464 22.0597 8.45788L30.5452 16.9434Z"
                        fill="url(#paint0_linear_7150_16843)" />
                    </g>
                    <defs>
                      <linearGradient id="paint0_linear_7150_16843" x1="17.7418" y1="28.0078" x2="19.2653" y2="9.78976"
                        gradientUnits="userSpaceOnUse">
                        <stop stop-color="#009681" />
                        <stop offset="1" stop-color="#007565" />
                      </linearGradient>
                      <clipPath id="clip0_7150_16843">
                        <rect width="36" height="36" fill="white" transform="matrix(0 -1 -1 0 36 36)" />
                      </clipPath>
                    </defs>
                  </svg></a>
              </span>
            </div>
          </div> #}
           </div>
        </div>

        <div class="tab-content" data-tab="hotels">
         <div class="cards-container">
            {{ drupal_view('nos_partenaires_privilegies','block_2') }}
          {# <div class="card">
            <div class="ocrd_item_culture">
              <img src="/themes/custom/cfc/CFC/assets/images/avn-1.png">
              <h4>Le Studio des Arts Vivants</h4>
              <p>Activités artistiques pour tous les âges.</p>
            </div>
            <div class="btn_bottom_align">
              <span>CFC Exclusive</span>
              <span class="btn_btm_avantage">
                <a href="#">Voir le détail <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36"
                    viewBox="0 0 36 36" fill="none">
                    <g clip-path="url(#clip0_7150_16843)">
                      <path
                        d="M30.5452 16.9434C30.8264 17.2247 30.9844 17.6061 30.9844 18.0039C30.9844 18.4016 30.8264 18.7831 30.5452 19.0644L22.0597 27.5499C21.9213 27.6931 21.7558 27.8074 21.5728 27.886C21.3898 27.9646 21.193 28.006 20.9938 28.0078C20.7946 28.0095 20.5971 27.9715 20.4128 27.8961C20.2284 27.8207 20.0609 27.7093 19.9201 27.5685C19.7793 27.4276 19.6679 27.2602 19.5925 27.0758C19.517 26.8915 19.4791 26.6939 19.4808 26.4948C19.4825 26.2956 19.5239 26.0988 19.6025 25.9158C19.6812 25.7328 19.7954 25.5673 19.9387 25.4289L25.8637 19.5039H5.9992C5.60137 19.5039 5.21984 19.3458 4.93853 19.0645C4.65723 18.7832 4.4992 18.4017 4.4992 18.0039C4.4992 17.6061 4.65723 17.2245 4.93853 16.9432C5.21984 16.6619 5.60137 16.5039 5.9992 16.5039H25.8637L19.9387 10.5789C19.6655 10.296 19.5143 9.91707 19.5177 9.52378C19.5211 9.13048 19.6789 8.75426 19.957 8.47615C20.2351 8.19804 20.6113 8.04029 21.0046 8.03687C21.3979 8.03345 21.7768 8.18464 22.0597 8.45788L30.5452 16.9434Z"
                        fill="url(#paint0_linear_7150_16843)" />
                    </g>
                    <defs>
                      <linearGradient id="paint0_linear_7150_16843" x1="17.7418" y1="28.0078" x2="19.2653" y2="9.78976"
                        gradientUnits="userSpaceOnUse">
                        <stop stop-color="#009681" />
                        <stop offset="1" stop-color="#007565" />
                      </linearGradient>
                      <clipPath id="clip0_7150_16843">
                        <rect width="36" height="36" fill="white" transform="matrix(0 -1 -1 0 36 36)" />
                      </clipPath>
                    </defs>
                  </svg></a>
              </span>
            </div>
          </div>
          <div class="card">
            <div class="ocrd_item_culture">
              <img src="/themes/custom/cfc/CFC/assets/images/avn-1.png">
              <h4>Le Studio des Arts Vivants</h4>
              <p>Activités artistiques pour tous les âges.</p>
            </div>
            <div class="btn_bottom_align">
              <span>CFC Exclusive</span>
              <span class="btn_btm_avantage">
                <a href="#">Voir le détail <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36"
                    viewBox="0 0 36 36" fill="none">
                    <g clip-path="url(#clip0_7150_16843)">
                      <path
                        d="M30.5452 16.9434C30.8264 17.2247 30.9844 17.6061 30.9844 18.0039C30.9844 18.4016 30.8264 18.7831 30.5452 19.0644L22.0597 27.5499C21.9213 27.6931 21.7558 27.8074 21.5728 27.886C21.3898 27.9646 21.193 28.006 20.9938 28.0078C20.7946 28.0095 20.5971 27.9715 20.4128 27.8961C20.2284 27.8207 20.0609 27.7093 19.9201 27.5685C19.7793 27.4276 19.6679 27.2602 19.5925 27.0758C19.517 26.8915 19.4791 26.6939 19.4808 26.4948C19.4825 26.2956 19.5239 26.0988 19.6025 25.9158C19.6812 25.7328 19.7954 25.5673 19.9387 25.4289L25.8637 19.5039H5.9992C5.60137 19.5039 5.21984 19.3458 4.93853 19.0645C4.65723 18.7832 4.4992 18.4017 4.4992 18.0039C4.4992 17.6061 4.65723 17.2245 4.93853 16.9432C5.21984 16.6619 5.60137 16.5039 5.9992 16.5039H25.8637L19.9387 10.5789C19.6655 10.296 19.5143 9.91707 19.5177 9.52378C19.5211 9.13048 19.6789 8.75426 19.957 8.47615C20.2351 8.19804 20.6113 8.04029 21.0046 8.03687C21.3979 8.03345 21.7768 8.18464 22.0597 8.45788L30.5452 16.9434Z"
                        fill="url(#paint0_linear_7150_16843)" />
                    </g>
                    <defs>
                      <linearGradient id="paint0_linear_7150_16843" x1="17.7418" y1="28.0078" x2="19.2653" y2="9.78976"
                        gradientUnits="userSpaceOnUse">
                        <stop stop-color="#009681" />
                        <stop offset="1" stop-color="#007565" />
                      </linearGradient>
                      <clipPath id="clip0_7150_16843">
                        <rect width="36" height="36" fill="white" transform="matrix(0 -1 -1 0 36 36)" />
                      </clipPath>
                    </defs>
                  </svg></a>
              </span>
            </div>
          </div> #}
          </div>
        </div>

        <div class="tab-content" data-tab="sante">
         <div class="cards-container">
         {{ drupal_view('nos_partenaires_privilegies','sante') }}
          {# <div class="card">
            <div class="ocrd_item_culture">
              <img src="/themes/custom/cfc/CFC/assets/images/avn-1.png">
              <h4>Le Studio des Arts Vivants</h4>
              <p>Activités artistiques pour tous les âges.</p>
            </div>
            <div class="btn_bottom_align">
              <span>CFC Exclusive</span>
              <span class="btn_btm_avantage">
                <a href="#">Voir le détail <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36"
                    viewBox="0 0 36 36" fill="none">
                    <g clip-path="url(#clip0_7150_16843)">
                      <path
                        d="M30.5452 16.9434C30.8264 17.2247 30.9844 17.6061 30.9844 18.0039C30.9844 18.4016 30.8264 18.7831 30.5452 19.0644L22.0597 27.5499C21.9213 27.6931 21.7558 27.8074 21.5728 27.886C21.3898 27.9646 21.193 28.006 20.9938 28.0078C20.7946 28.0095 20.5971 27.9715 20.4128 27.8961C20.2284 27.8207 20.0609 27.7093 19.9201 27.5685C19.7793 27.4276 19.6679 27.2602 19.5925 27.0758C19.517 26.8915 19.4791 26.6939 19.4808 26.4948C19.4825 26.2956 19.5239 26.0988 19.6025 25.9158C19.6812 25.7328 19.7954 25.5673 19.9387 25.4289L25.8637 19.5039H5.9992C5.60137 19.5039 5.21984 19.3458 4.93853 19.0645C4.65723 18.7832 4.4992 18.4017 4.4992 18.0039C4.4992 17.6061 4.65723 17.2245 4.93853 16.9432C5.21984 16.6619 5.60137 16.5039 5.9992 16.5039H25.8637L19.9387 10.5789C19.6655 10.296 19.5143 9.91707 19.5177 9.52378C19.5211 9.13048 19.6789 8.75426 19.957 8.47615C20.2351 8.19804 20.6113 8.04029 21.0046 8.03687C21.3979 8.03345 21.7768 8.18464 22.0597 8.45788L30.5452 16.9434Z"
                        fill="url(#paint0_linear_7150_16843)" />
                    </g>
                    <defs>
                      <linearGradient id="paint0_linear_7150_16843" x1="17.7418" y1="28.0078" x2="19.2653" y2="9.78976"
                        gradientUnits="userSpaceOnUse">
                        <stop stop-color="#009681" />
                        <stop offset="1" stop-color="#007565" />
                      </linearGradient>
                      <clipPath id="clip0_7150_16843">
                        <rect width="36" height="36" fill="white" transform="matrix(0 -1 -1 0 36 36)" />
                      </clipPath>
                    </defs>
                  </svg></a>
              </span>
            </div>
          </div>
          <div class="card">
            <div class="ocrd_item_culture">
              <img src="/themes/custom/cfc/CFC/assets/images/avn-1.png">
              <h4>Le Studio des Arts Vivants</h4>
              <p>Activités artistiques pour tous les âges.</p>
            </div>
            <div class="btn_bottom_align">
              <span>CFC Exclusive</span>
              <span class="btn_btm_avantage">
                <a href="#">Voir le détail <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36"
                    viewBox="0 0 36 36" fill="none">
                    <g clip-path="url(#clip0_7150_16843)">
                      <path
                        d="M30.5452 16.9434C30.8264 17.2247 30.9844 17.6061 30.9844 18.0039C30.9844 18.4016 30.8264 18.7831 30.5452 19.0644L22.0597 27.5499C21.9213 27.6931 21.7558 27.8074 21.5728 27.886C21.3898 27.9646 21.193 28.006 20.9938 28.0078C20.7946 28.0095 20.5971 27.9715 20.4128 27.8961C20.2284 27.8207 20.0609 27.7093 19.9201 27.5685C19.7793 27.4276 19.6679 27.2602 19.5925 27.0758C19.517 26.8915 19.4791 26.6939 19.4808 26.4948C19.4825 26.2956 19.5239 26.0988 19.6025 25.9158C19.6812 25.7328 19.7954 25.5673 19.9387 25.4289L25.8637 19.5039H5.9992C5.60137 19.5039 5.21984 19.3458 4.93853 19.0645C4.65723 18.7832 4.4992 18.4017 4.4992 18.0039C4.4992 17.6061 4.65723 17.2245 4.93853 16.9432C5.21984 16.6619 5.60137 16.5039 5.9992 16.5039H25.8637L19.9387 10.5789C19.6655 10.296 19.5143 9.91707 19.5177 9.52378C19.5211 9.13048 19.6789 8.75426 19.957 8.47615C20.2351 8.19804 20.6113 8.04029 21.0046 8.03687C21.3979 8.03345 21.7768 8.18464 22.0597 8.45788L30.5452 16.9434Z"
                        fill="url(#paint0_linear_7150_16843)" />
                    </g>
                    <defs>
                      <linearGradient id="paint0_linear_7150_16843" x1="17.7418" y1="28.0078" x2="19.2653" y2="9.78976"
                        gradientUnits="userSpaceOnUse">
                        <stop stop-color="#009681" />
                        <stop offset="1" stop-color="#007565" />
                      </linearGradient>
                      <clipPath id="clip0_7150_16843">
                        <rect width="36" height="36" fill="white" transform="matrix(0 -1 -1 0 36 36)" />
                      </clipPath>
                    </defs>
                  </svg></a>
              </span>
            </div>
          </div> #}
          </div>
        </div>
      </div>
    </div>
    <!-- Modal Wrapper -->
    <div id="customModal" class="custom-modal" style="display:none;">
      <div class="custom-modal-content">
        <span class="custom-modal-close">&times;</span>
        <div id="customModalBody"></div>
      </div>
    </div>

  </section>
  