{# {{ drupal_entity('block','desktech_bannerquisommesnous') }} #}
<!-- Slider Section -->
{# {{ drupal_entity('block','live_our_hestory1') }}
{{ drupal_entity('block','live_our_hestory2') }}
  {{ drupal_entity('block','live_chiffrescles') }}
  {{ drupal_entity('block','live_our_hestory3') }}
  {{ drupal_entity('block','live_our_hestory4') }}
  {{ drupal_entity('block','live_our_hestory5') }}
  {{ drupal_entity('block','live_our_hestory6') }} #}
{# {{ drupal_entity('block','desktech_bannerquisommesnous') }}

{{ drupal_entity('block','desktech_sectionleadersensolutionsricohaumaroc') }}
{{ drupal_entity('block','desktech_incrementnumber') }}
{{ drupal_entity('block','desktech_pourquoichoisirdesktech') }}
{{ drupal_entity('block','desktech_sectionilsnousfontconfiance') }} #}
{# <section class="banner_tp" id="banner_tp">
    <div class="banner">
      <img src="/themes/custom/desktech/Desktech/assets/images/banner-sc.png">
      <div class="container">
        <div class="breadcrumb-sx">
          <span>Qui Sommes-Nous ?</span>
          <svg xmlns="http://www.w3.org/2000/svg" width="834" height="106" viewBox="0 0 834 106" fill="none">
            <path d="M834 106H-40V0H687L834 106Z" fill="white" />
            <path d="M834 106H-40V0H687L834 106Z" stroke="#000849" />
          </svg>
          <!-- <div class="overly--br">

          </div> -->
        </div>
      </div>
    </div>
  </section>

  <section class="section-propose-one-desktech">
    <div class="container">
      <div class="row g-5">

        <div class="col-md-6">
          <div class="left--section-two-desktech">
            <div class="one--img-sc-four">
              <img src="/themes/custom/desktech/Desktech/assets/images/aprps.png">
              <div class="para--text">
                <p>🏆 Élu Meilleur Partenaire RICOH en Afrique 2023 </p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="right--section-two-desktech">
            <div class="title--primary">
              <h2>Leaders en solutions <br><span>RICOH</span> au Maroc</span></h2>
            </div>
            <p>
              Desktech est le leader au Maroc de la vente, la location et le service après-vente des solutions
              d'impression et de gestion documentaire de la marque Ricoh. En plus de l’impression, Desktech propose
              également des solutions pour moderniser vos espaces de travail : tableaux interactifs, solutions digitales
              et environnements collaboratifs.
            </p>
            <p>
              Certifié Ricoh Strategic Business Partner, Desktech met à votre service :
            </p>
            <p>
              ✔️ Une expertise inégalée sur la gamme de produits et de solutions Ricoh.<br>
              ✔️ Un engagement total pour assurer votre satisfaction.<br>
              ✔️ Des solutions sur mesure pour répondre aux besoins spécifiques de votre entreprise.
            </p>
            <a href="#">Vous Souhaitez Collaborer ? </a>
            <!-- <div class="btn--link-dr link--dr">
              <a href="#">En Savoir Plus </a>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-propose-twoo-desktech">
    <div class="container">
      <div class="row">
        <div class="stats-container">
          <div class="stat-box">
            <span class="label">Créée en</span>
            <span class="value" data-target="2022">0</span>
          </div>
          <div class="stat-box">
            <span class="label">Parc total de machines</span>
            <span class="value" data-target="4000">0</span>
          </div>
          <div class="stat-box">
            <span class="label">Nombre de clients</span>
            <span class="value" data-target="300">0</span>
          </div>
          <div class="stat-box">
            <span class="label">Techniciens déployés</span>
            <span class="value" data-target="300">0</span>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-propose-four-desktech">
    <div class="container">
      <div class="row g-5">



        <div class="col-md-4">
          <div class="right--section-two-desktech">
            <div class="title--primary">
              <h2 class="text-white">Pourquoi Choisir <span>DESKTECH</span> ?</h2>
            </div>
            <p class="text-white">
              Desktech vous aide à optimiser votre parc d’impression, votre gestion documentaire, et votre environnement
              de travail, à travers des solutions fiables et minutieusement adaptées aux besoins précis de votre
              entreprise.
            </p>

          </div>
        </div>
        <div class="col-md-8">
          <div class="row g-4">
            <div class="col-md-6">
              <div class="service-box">
                <div class="service-title text-red">
                  <span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 34 34"
                      fill="none">
                      <path d="M10.5996 16.9999L15.3996 21.7999L23.3996 13.7999" stroke="#CE112D" stroke-width="2"
                        stroke-linecap="round" stroke-linejoin="round" />
                      <path
                        d="M17 33C25.8365 33 33 25.8365 33 17C33 8.16344 25.8365 1 17 1C8.16344 1 1 8.16344 1 17C1 19.9142 1.77915 22.6466 3.14051 25L1.8 32.2L9 30.8595C11.3534 32.2208 14.0858 33 17 33Z"
                        stroke="#CE112D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg></span> Expertise solide
                </div>
                <p class="mt-2">Desktech possède une solide expertise dans le domaine de l'impression et de la gestion
                  documentaire. Notre équipe qualifiée offre des solutions adaptées aux besoins de chaque entreprise.
                </p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="service-box">
                <div class="service-title text-blue">
                  <span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="31" height="32" viewBox="0 0 31 32"
                      fill="none">
                      <path
                        d="M23.2833 30.6833H2.03065C1.46144 30.6833 1 30.2219 1 29.6526V12.8187C1 12.2495 1.46144 11.7881 2.03065 11.7881H6.78471C7.99148 11.7881 9.10974 11.1549 9.7306 10.1201L14.3864 2.36044C15.3911 0.686107 17.7573 0.526941 18.977 2.05168C19.552 2.77037 19.7373 3.7256 19.4728 4.60717L17.7166 10.4613C17.5182 11.1226 18.0134 11.7881 18.7038 11.7881H26.5626C28.8278 11.7881 30.4731 13.9421 29.877 16.1275L26.5976 28.1517C26.19 29.6464 24.8325 30.6833 23.2833 30.6833Z"
                        stroke="#000849" stroke-width="2" stroke-linecap="round" />
                      <path d="M7.01172 30.683V11.7878" stroke="#000849" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    </svg></span> Qualité et fiabilité
                </div>
                <p class="mt-2">Nous nous engageons à offrir des produits et services de qualité, avec une fiabilité
                  remarquable. Notre priorité est de garantir des solutions durables et performantes.</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="service-box">
                <div class="service-title text-blue">
                  <span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="34" viewBox="0 0 32 34"
                      fill="none">
                      <path d="M30.9997 1L29.333 2.66667" stroke="#000849" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                      <path d="M1 1L2.66667 2.66667" stroke="#000849" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                      <path d="M30.9997 24.3333L29.333 22.6666" stroke="#000849" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                      <path d="M1 24.3333L2.66667 22.6666" stroke="#000849" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                      <path d="M11 27.6667H21" stroke="#000849" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                      <path d="M12.667 32.6667H19.3337" stroke="#000849" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                      <path
                        d="M15.9994 2.66675C9.33251 2.66675 5.91944 5.91724 5.99942 11.0001C6.0384 13.4782 6.83251 15.1668 8.49942 16.8334C10.1663 18.5001 10.9997 19.3334 10.9994 22.6668H20.9994C20.9997 19.3336 21.833 18.5001 23.4992 16.8336C25.1657 15.1669 25.9605 13.4782 25.9994 11.0001C26.0794 5.91724 22.6664 2.66675 15.9994 2.66675Z"
                        stroke="#000849" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg></span> Innovation permanente
                </div>
                <p class="mt-2">Chez Desktech, nous restons constamment à l'affût des dernières avancées technologiques
                  pour vous proposer des solutions innovantes en matière d'impression et de gestion documentaire.</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="service-box">
                <div class="service-title text-red">
                  <span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="34" height="28" viewBox="0 0 34 28"
                      fill="none">
                      <path
                        d="M4.2002 16.2V15.4C4.2002 7.44712 9.93096 1 17.0002 1C24.0695 1 29.8003 7.44712 29.8003 15.4V16.2"
                        stroke="#CE112D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                      <path
                        d="M1 22.5017V19.4986C1 18.0303 1.99935 16.7503 3.4239 16.3941L4.20001 16.2L6.20718 15.6983C6.81309 15.5469 7.40002 16.0052 7.40002 16.6296V25.3706C7.40002 25.9951 6.81309 26.4533 6.20718 26.302L3.4239 25.6061C1.99935 25.25 1 23.97 1 22.5017Z"
                        stroke="#CE112D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                      <path
                        d="M33.0006 22.5017V19.4986C33.0006 18.0303 32.0012 16.7503 30.5768 16.3941L29.8006 16.2L27.7934 15.6983C27.1875 15.5469 26.6006 16.0052 26.6006 16.6296V25.3706C26.6006 25.9951 27.1875 26.4533 27.7934 26.302L30.5768 25.6061C32.0012 25.25 33.0006 23.97 33.0006 22.5017Z"
                        stroke="#CE112D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg></span> Service client dévoué
                </div>
                <p class="mt-2">Notre équipe dévouée met un point d'honneur à offrir un service client de qualité. Nous
                  sommes là pour répondre à vos besoins, résoudre vos problèmes et vous garantir une satisfaction
                  totale.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-five-desktech section-propose-five-desktech">
    <div class="img---five-desktech-bg">
      <img src="/themes/custom/desktech/Desktech/assets/images/confaince.png">
    </div>
    <div class="container-sc">

      <div class="row" id="ab--sc">

        <div class="col-md-12">
          <div class="right--section-two-desktech">
            <div class="title--primary text-center">
              <h2>Ils nous font <span>confiance</span></h2>
            </div>
            <p class="mb-3 mt-3 text-center">Nous sommes fiers de la confiance que nos clients nous accordent chaque
              jour. Nous
              nous engageons à dépasser vos<br> attentes à chaque étape de notre collaboration.</p>


            <!-- <div class="btn--link-dr link--dr">
              <a href="#">En Savoir Plus </a>
            </div> -->
          </div>
        </div>
      </div>
      <div class="container mt-3 owl-carousel five-desktech-owl">
        <div class="item"><img src="/themes/custom/desktech/Desktech/assets/images/wl1.png"></div>
        <div class="item"><img src="/themes/custom/desktech/Desktech/assets/images/wl2.png"></div>
        <div class="item"><img src="/themes/custom/desktech/Desktech/assets/images/wl3.png"></div>
        <div class="item"><img src="/themes/custom/desktech/Desktech/assets/images/wl4.png"></div>
        <div class="item"><img src="/themes/custom/desktech/Desktech/assets/images/wl5.png"></div>
        <div class="item"><img src="/themes/custom/desktech/Desktech/assets/images/wl3.png"></div>

      </div>
    </div>

  </section> #}

	{# <section class="banner_bread"> <div
		id="slider--animate">
		<!-- Slide 1 -->
		<div class="owl-slide">
			<img src="/themes/custom/live/live/assets/images/contact-vg.png" alt="Hospital Building" class="img-fluid slide-bg">
			<div class="slide-overlay"></div>
			<div class="slide-content">
				<h1 class="slide-title">Contactez-nous</h1>
				<br>
				<p class="mb-2">Nous sommes là pour vous accompagner dans vos projets, de la première idée à la livraison.
					            Contactez-nous pour partager vos besoins, et nous vous répondrons rapidement.</p>

			</div>
		</div>

	</div>
</section> #}
{{ drupal_entity('block','live_bannercontact') }}

<section class="contact_form">


	<div class="container">
		<div class="form-container">
			<div class="wrapper__title_contact">
				<h5>{{'Envoyez-nous un message'|t}}</h5>
				<p>{{'Veuillez remplir le formulaire ci-dessous, nous vous répondrons dans les plus brefs délais'|t}}.</p>
			</div>

				{{ drupal_entity('block','live_webform_2') }}
				{# <div class="form-row">
				            <div class="form-group">
				              <label for="lastname">Nom</label>
				              <input type="text" id="lastname" placeholder="Votre nom">
				            </div>
				            <div class="form-group">
				              <label for="firstname">Prénom</label>
				              <input type="text" id="firstname" placeholder="Votre prénom">
				            </div>
				          </div>

				          <div class="form-row">
				            <div class="form-group">
				              <label for="email">Email</label>
				              <input type="email" id="email" placeholder="votre@email.com">
				            </div>
				            <div class="form-group">
				              <label for="phone">Numéro de téléphone</label>
				              <input type="tel" id="phone" placeholder="+212 1 23 45 57 89">
				            </div>
				          </div>

				          <div class="form-group">
				            <label for="subject">Objet</label>
				            <input type="text" id="subject" placeholder="Objet de votre message">
				          </div>

				          <div class="form-group">
				            <label for="message">Message</label>
				            <textarea id="message" placeholder="Votre message..."></textarea>
				          </div>

				          <button type="submit" class="btn-submit">
				            Envoyer le message <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none"> <rect width="32" height="32" rx="16" fill="white"></rect> <g clip-path="url(#clip0_6010_3350)"> <path fill-rule="evenodd" clip-rule="evenodd" d="M16.4345 7.01562C16.4345 8.11199 16.6302 9.19763 17.0104 10.2105C17.3906 11.2235 17.9479 12.1438 18.6504 12.9191C19.3529 13.6943 20.1869 14.3093 21.1048 14.7288C22.0226 15.1484 23.0065 15.3643 24 15.3643V15.3997V16.5997V16.6351C23.0065 16.6351 22.0226 16.8511 21.1048 17.2706C20.1869 17.6902 19.3529 18.3051 18.6504 19.0804C17.9479 19.8556 17.3906 20.7761 17.0104 21.789C16.6302 22.8018 16.4345 23.8875 16.4345 24.9838H15.2077C15.2077 20.455 17.9943 17.4498 21.7469 16.5997H8L8 15.3997H21.747C17.9943 14.5497 15.2077 11.5444 15.2077 7.01562H16.4345Z" fill="black"></path> </g> <defs> <clipPath id="clip0_6010_3350"> <rect width="16" height="16" fill="white" transform="translate(8 8)"></rect> </clipPath> </defs> </svg>
				          </button> #}

		</div>

		<div class="info-container">
    {{ drupal_entity('block','live_contactright') }}
			{# <div class="contact-info">
				<h2>Informations de contact</h2>

				<div class="info-item">
					<div class="info-icon">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none">
							<path d="M11.5 7C12.163 7 12.7989 7.26339 13.2678 7.73223C13.7366 8.20107 14 8.83696 14 9.5C14 9.8283 13.9353 10.1534 13.8097 10.4567C13.6841 10.76 13.4999 11.0356 13.2678 11.2678C13.0356 11.4999 12.76 11.6841 12.4567 11.8097C12.1534 11.9353 11.8283 12 11.5 12C10.837 12 10.2011 11.7366 9.73223 11.2678C9.26339 10.7989 9 10.163 9 9.5C9 8.83696 9.26339 8.20107 9.73223 7.73223C10.2011 7.26339 10.837 7 11.5 7ZM11.5 8C11.1022 8 10.7206 8.15804 10.4393 8.43934C10.158 8.72064 10 9.10218 10 9.5C10 9.89782 10.158 10.2794 10.4393 10.5607C10.7206 10.842 11.1022 11 11.5 11C11.8978 11 12.2794 10.842 12.5607 10.5607C12.842 10.2794 13 9.89782 13 9.5C13 9.10218 12.842 8.72064 12.5607 8.43934C12.2794 8.15804 11.8978 8 11.5 8ZM6.8 12.36L11.5 20.09L16.2 12.36C16.71 11.5 17 10.55 17 9.5C17 8.04131 16.4205 6.64236 15.3891 5.61091C14.3576 4.57946 12.9587 4 11.5 4C10.0413 4 8.64236 4.57946 7.61091 5.61091C6.57946 6.64236 6 8.04131 6 9.5C6 10.55 6.29 11.5 6.8 12.36ZM17.05 12.88L11.5 22L5.95 12.88C5.35 11.89 5 10.74 5 9.5C5 7.77609 5.68482 6.12279 6.90381 4.90381C8.12279 3.68482 9.77609 3 11.5 3C13.2239 3 14.8772 3.68482 16.0962 4.90381C17.3152 6.12279 18 7.77609 18 9.5C18 10.74 17.65 11.89 17.05 12.88Z" fill="white"/>
						</svg>
					</div>
					<div class="info-content">
						<h3>Adresse</h3>
						<p>22 Boulevard Ortes Sinaud Casablanca - Maroc</p>
					</div>
				</div>

				<div class="info-item">
					<div class="info-icon">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none">
							<path d="M19.5 22C19.8978 22 20.2794 21.842 20.5607 21.5607C20.842 21.2794 21 20.8978 21 20.5V17C21 16.6022 20.842 16.2206 20.5607 15.9393C20.2794 15.658 19.8978 15.5 19.5 15.5C18.33 15.5 17.18 15.32 16.08 14.95C15.817 14.867 15.5363 14.8576 15.2683 14.9228C15.0004 14.988 14.7554 15.1254 14.56 15.32L13.12 16.76C10.6322 15.4024 8.58758 13.3578 7.23 10.87L8.66 9.44C9.07 9.05 9.22 8.47 9.04 7.91C8.68 6.82 8.5 5.67 8.5 4.5C8.5 4.10218 8.34196 3.72064 8.06066 3.43934C7.77936 3.15804 7.39782 3 7 3H3.5C3.10218 3 2.72064 3.15804 2.43934 3.43934C2.15804 3.72064 2 4.10218 2 4.5C2 14.15 9.85 22 19.5 22ZM3.5 4H7C7.13261 4 7.25979 4.05268 7.35355 4.14645C7.44732 4.24021 7.5 4.36739 7.5 4.5C7.5 5.78 7.7 7.03 8.09 8.22C8.14 8.36 8.13 8.56 7.97 8.72L6 10.68C7.65 13.91 10.07 16.33 13.31 18L15.26 16.03C15.4 15.89 15.59 15.85 15.77 15.9C16.97 16.3 18.22 16.5 19.5 16.5C19.6326 16.5 19.7598 16.5527 19.8536 16.6464C19.9473 16.7402 20 16.8674 20 17V20.5C20 20.6326 19.9473 20.7598 19.8536 20.8536C19.7598 20.9473 19.6326 21 19.5 21C10.4 21 3 13.6 3 4.5C3 4.36739 3.05268 4.24021 3.14645 4.14645C3.24021 4.05268 3.36739 4 3.5 4Z" fill="white"/>
						</svg>
					</div>
					<div class="info-content">
						<h3>Numéro de téléphone</h3>
						<p>+212 522 22 24 45</p>
					</div>
				</div>

				<div class="info-item">
					<div class="info-icon">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none">
							<path d="M21 9.00027V18.0003C21 18.7959 20.6839 19.559 20.1213 20.1216C19.5587 20.6842 18.7956 21.0003 18 21.0003H5C4.20435 21.0003 3.44129 20.6842 2.87868 20.1216C2.31607 19.559 2 18.7959 2 18.0003V9.00027C2 7.89027 2.6 6.92027 3.5 6.40027L11.5 1.78027L19.5 6.40027C20.4 6.92027 21 7.89027 21 9.00027ZM3.72 7.47027L11.5 12.5003L19.28 7.47027L11.5 2.93027L3.72 7.47027ZM11.5 13.7103L3.13 8.28027C3.05 8.50027 3 8.75027 3 9.00027V18.0003C3 18.5307 3.21071 19.0394 3.58579 19.4145C3.96086 19.7896 4.46957 20.0003 5 20.0003H18C18.5304 20.0003 19.0391 19.7896 19.4142 19.4145C19.7893 19.0394 20 18.5307 20 18.0003V9.00027C20 8.75027 19.95 8.50027 19.87 8.28027L11.5 13.7103Z" fill="white"/>
						</svg>
					</div>
					<div class="info-content">
						<h3>Email</h3>
						<p>secretariat@agencelive.com</p>
					</div>
				</div>
			</div>

			<div class="social-section">
				<h2>Suivez-nous</h2>
				<div class="social-icons">
					<a href="#" class="social-icon">
						<svg xmlns="http://www.w3.org/2000/svg" width="22" height="17" viewbox="0 0 22 17" fill="none">
							<path d="M21.4591 2C20.6891 2.35 19.8591 2.58 18.9991 2.69C19.8791 2.16 20.5591 1.32 20.8791 0.31C20.0491 0.81 19.1291 1.16 18.1591 1.36C17.3691 0.5 16.2591 0 14.9991 0C12.6491 0 10.7291 1.92 10.7291 4.29C10.7291 4.63 10.7691 4.96 10.8391 5.27C7.27906 5.09 4.10906 3.38 1.99906 0.79C1.62906 1.42 1.41906 2.16 1.41906 2.94C1.41906 4.43 2.16906 5.75 3.32906 6.5C2.61906 6.5 1.95906 6.3 1.37906 6V6.03C1.37906 8.11 2.85906 9.85 4.81906 10.24C4.1899 10.4129 3.5291 10.4369 2.88906 10.31C3.16067 11.1625 3.6926 11.9084 4.41008 12.4429C5.12756 12.9775 5.99451 13.2737 6.88906 13.29C5.37273 14.4905 3.49307 15.1394 1.55906 15.13C1.21906 15.13 0.879063 15.11 0.539062 15.07C2.43906 16.29 4.69906 17 7.11906 17C14.9991 17 19.3291 10.46 19.3291 4.79C19.3291 4.6 19.3291 4.42 19.3191 4.23C20.1591 3.63 20.8791 2.87 21.4591 2Z" fill="white"/>
						</svg>
					</a>
					<a href="#" class="social-icon">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none">
							<path d="M22 12C22 6.48 17.52 2 12 2C6.48 2 2 6.48 2 12C2 16.84 5.44 20.87 10 21.8V15H8V12H10V9.5C10 7.57 11.57 6 13.5 6H16V9H14C13.45 9 13 9.45 13 10V12H16V15H13V21.95C18.05 21.45 22 17.19 22 12Z" fill="white"/>
						</svg>
					</a>
					<a href="#" class="social-icon">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none">
							<path d="M7.8 2H16.2C19.4 2 22 4.6 22 7.8V16.2C22 17.7383 21.3889 19.2135 20.3012 20.3012C19.2135 21.3889 17.7383 22 16.2 22H7.8C4.6 22 2 19.4 2 16.2V7.8C2 6.26174 2.61107 4.78649 3.69878 3.69878C4.78649 2.61107 6.26174 2 7.8 2ZM7.6 4C6.64522 4 5.72955 4.37928 5.05442 5.05442C4.37928 5.72955 4 6.64522 4 7.6V16.4C4 18.39 5.61 20 7.6 20H16.4C17.3548 20 18.2705 19.6207 18.9456 18.9456C19.6207 18.2705 20 17.3548 20 16.4V7.6C20 5.61 18.39 4 16.4 4H7.6ZM17.25 5.5C17.5815 5.5 17.8995 5.6317 18.1339 5.86612C18.3683 6.10054 18.5 6.41848 18.5 6.75C18.5 7.08152 18.3683 7.39946 18.1339 7.63388C17.8995 7.8683 17.5815 8 17.25 8C16.9185 8 16.6005 7.8683 16.3661 7.63388C16.1317 7.39946 16 7.08152 16 6.75C16 6.41848 16.1317 6.10054 16.3661 5.86612C16.6005 5.6317 16.9185 5.5 17.25 5.5ZM12 7C13.3261 7 14.5979 7.52678 15.5355 8.46447C16.4732 9.40215 17 10.6739 17 12C17 13.3261 16.4732 14.5979 15.5355 15.5355C14.5979 16.4732 13.3261 17 12 17C10.6739 17 9.40215 16.4732 8.46447 15.5355C7.52678 14.5979 7 13.3261 7 12C7 10.6739 7.52678 9.40215 8.46447 8.46447C9.40215 7.52678 10.6739 7 12 7ZM12 9C11.2044 9 10.4413 9.31607 9.87868 9.87868C9.31607 10.4413 9 11.2044 9 12C9 12.7956 9.31607 13.5587 9.87868 14.1213C10.4413 14.6839 11.2044 15 12 15C12.7956 15 13.5587 14.6839 14.1213 14.1213C14.6839 13.5587 15 12.7956 15 12C15 11.2044 14.6839 10.4413 14.1213 9.87868C13.5587 9.31607 12.7956 9 12 9Z" fill="white"/>
						</svg>
					</a>
				</div>
			</div>

			<div class="map-section">
				<h2>Localisation</h2>
				<div class="map-placeholder">
					<img class="svg_con" src="/themes/custom/live/live/assets/images/svg--contact.svg">
				</div>

			</div> #}
		</div>
	</div>

</section>
