<div class="all_section_ocde">
	{{ drupal_entity('block','cfc_sectiononeeventocde') }}
	{{ drupal_entity('block','cfc_sectiontwoeventocde') }}
	{{ drupal_entity('block','cfc_sectionthreeeventocde') }}
	{{ drupal_entity('block','cfc_sectionfoureventocde') }}
	<section class="la_conferance all_form_bottom" id="contact---ocde">
		<div class="title__form_all_form_bottom container">
			<h2>{{'S’INSCRIRE'|t}}

				<span>{{'À LA CONFÉRENCE'|t}}</span>
			</h2>

		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-6">

          {{ drupal_entity('block','cfc_webform_4') }}
					{# <form>
						<div class="form-item">
							<label for="name">Nom & Prénom</label>
							<input type="text" id="name" name="name" required>
						</div>

						<div class="form-item">
							<label for="email">E-mail</label>
							<input type="email" id="email" name="email" required>
						</div>

						<div class="form-item">
							<label for="entity">Entité</label>
							<input type="text" id="entity" name="entity" required>
						</div>

						<div class="form-item">
							<label for="title">Titre</label>
							<input type="text" id="title" name="title" required>
						</div>
						<div class="form-submit">
							<button type="submit">CONFIRMER</button>
						</div>
					</form> #}
				</div>

				<div class="col-md-6">
					<div class="logo_form_bottom">
						<img src="/themes/custom/cfc/CFC/assets/images/tele__box_link.png">
					</div>
				</div>
			</div>

		</div>
	</section>
</div>
