{#
/**
 * @file
 * Default theme implementation for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A CSS-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   JavaScript.
 *
 * @see template_preprocess_views_view()
 *
 * @ingroup themeable
 */
#}

<section class="emblemes_href three_colmun_to_sc odd-re-bg" id="maps--with-select-pays">
	<div class="title-primary-sc mb-3 container">
		<div class="paragraph--african_insights">
			<p class="size--vw-1-5">{{"Access up-to-date information on Africa's markets and data, uncover business opportunities through country
												          fact sheets, news, sector reports, expert insights, articles, and podcasts"| t}}
			</p>
		</div>
	</div>
	<div class="container">

		<div class="row">
			<div class="all-item--service">
				<div class="tabs--item">

					<button id="section1">
						<a href="{{ path('view.country_focus.page_1') }}">
							<svg xmlns="http://www.w3.org/2000/svg" width="66" height="65" viewbox="0 0 66 65" fill="none">
								<g clip-path="url(#clip0_4795_8005)">
									<path d="M32.6094 4.33333H34.776C34.776 3.93129 34.6642 3.53719 34.4529 3.1951C34.2417 2.85302 33.9395 2.57645 33.58 2.39633L32.6094 4.33333ZM32.6094 8.66667L33.58 10.6037C33.9395 10.4236 34.2417 10.147 34.4529 9.8049C34.6642 9.46281 34.776 9.06871 34.776 8.66667H32.6094ZM28.276 10.8333L27.3054 8.89633C26.9664 9.06644 26.6779 9.32257 26.4689 9.6391C26.26 9.95564 26.1377 10.3215 26.1145 10.7001C26.0912 11.0787 26.1678 11.4567 26.3365 11.7965C26.5051 12.1362 26.7601 12.4257 27.0757 12.636L28.276 10.8333ZM34.776 15.1667L33.5757 16.9693C33.9312 17.2064 34.3488 17.333 34.776 17.3333V15.1667ZM36.9427 15.1667V17.3333C37.5173 17.3333 38.0684 17.1051 38.4748 16.6987C38.8811 16.2924 39.1094 15.7413 39.1094 15.1667H36.9427ZM36.9427 10.8333V8.66667C36.3681 8.66667 35.817 8.89494 35.4106 9.30127C35.0043 9.7076 34.776 10.2587 34.776 10.8333H36.9427ZM43.4427 10.8333H45.6094C45.6094 10.2587 45.3811 9.7076 44.9748 9.30127C44.5684 8.89494 44.0173 8.66667 43.4427 8.66667V10.8333ZM43.4427 15.1667H41.276C41.2755 15.4514 41.3312 15.7334 41.4397 15.9966C41.5483 16.2598 41.7076 16.4991 41.9087 16.7007L43.4427 15.1667ZM45.6094 17.3333H47.776C47.7766 17.0486 47.7209 16.7666 47.6124 16.5034C47.5038 16.2402 47.3445 16.0009 47.1434 15.7993L45.6094 17.3333ZM45.6094 21.6667L47.1434 23.2007C47.3445 22.9991 47.5038 22.7598 47.6124 22.4966C47.7209 22.2334 47.7766 21.9514 47.776 21.6667H45.6094ZM43.4427 23.8333V26C43.7274 26.0005 44.0095 25.9449 44.2727 25.8363C44.5359 25.7278 44.7751 25.5684 44.9767 25.3673L43.4427 23.8333ZM39.1094 23.8333L38.1387 25.7703C38.44 25.9213 38.7724 26 39.1094 26V23.8333ZM30.4427 19.5L31.4134 17.563C31.1121 17.412 30.7797 17.3334 30.4427 17.3334C30.1057 17.3334 29.7733 17.412 29.472 17.563L30.4427 19.5ZM26.1094 21.6667V23.8333C26.4464 23.8333 26.7788 23.7547 27.08 23.6037L26.1094 21.6667ZM19.6094 21.6667V19.5C19.1261 19.5001 18.6567 19.6619 18.2759 19.9594C17.8951 20.257 17.6247 20.6734 17.5077 21.1423L19.6094 21.6667ZM17.4427 30.3333L15.341 29.809C15.2499 30.1719 15.2542 30.5522 15.3537 30.9129C15.4532 31.2737 15.6444 31.6025 15.9087 31.8673L17.4427 30.3333ZM23.9427 36.8333L22.4087 38.3673C22.5737 38.531 22.7639 38.6671 22.972 38.7703L23.9427 36.8333ZM28.276 39H30.4427C30.4427 38.598 30.3308 38.2039 30.1196 37.8618C29.9084 37.5197 29.6061 37.2431 29.2467 37.063L28.276 39ZM28.276 45.5H26.1094C26.1089 45.7847 26.1645 46.0668 26.273 46.33C26.3816 46.5932 26.541 46.8324 26.742 47.034L28.276 45.5ZM30.4427 47.6667H32.6094C32.6099 47.3819 32.5543 47.0999 32.4457 46.8367C32.3372 46.5735 32.1778 46.3343 31.9767 46.1327L30.4427 47.6667ZM30.4427 52H28.276C28.2761 52.337 28.3547 52.6694 28.5057 52.9707L30.4427 52ZM32.6094 56.3333L30.6724 57.304C30.8525 57.6634 31.1291 57.9657 31.4711 58.1769C31.8132 58.3881 32.2073 58.5 32.6094 58.5V56.3333ZM36.9427 56.3333V58.5C37.2995 58.4998 37.6508 58.4115 37.9652 58.2429C38.2797 58.0744 38.5477 57.8307 38.7454 57.5337L36.9427 56.3333ZM41.276 49.8333L43.0787 51.0337L43.213 50.804L41.276 49.8333ZM43.4427 45.5L45.3797 46.4707C45.5307 46.1694 45.6094 45.837 45.6094 45.5H43.4427ZM43.4427 41.1667L41.7094 39.8667C41.4281 40.2417 41.276 40.6979 41.276 41.1667H43.4427ZM49.9427 32.5L51.676 33.8C51.9176 33.4778 52.0647 33.0947 52.1007 32.6936C52.1366 32.2925 52.0601 31.8894 51.8797 31.5293L49.9427 32.5ZM47.776 28.1667V26C47.4066 26 47.0432 26.0945 46.7206 26.2745C46.3979 26.4545 46.1266 26.714 45.9325 27.0284C45.7384 27.3428 45.6279 27.7016 45.6116 28.0707C45.5952 28.4398 45.6735 28.807 45.839 29.1373L47.776 28.1667ZM54.276 28.1667V30.3333C54.8507 30.3333 55.4018 30.1051 55.8081 29.6987C56.2144 29.2924 56.4427 28.7413 56.4427 28.1667H54.276ZM54.276 23.8333V21.6667C53.7014 21.6667 53.1503 21.8949 52.744 22.3013C52.3377 22.7076 52.1094 23.2587 52.1094 23.8333H54.276ZM32.6094 60.6667C25.1391 60.6667 17.9748 57.6991 12.6925 52.4168C7.41026 47.1346 4.44271 39.9703 4.44271 32.5H0.109375C0.109375 41.1195 3.53347 49.386 9.6284 55.481C15.7233 61.5759 23.9898 65 32.6094 65V60.6667ZM60.776 32.5C60.776 36.1989 60.0475 39.8616 58.632 43.2789C57.2165 46.6963 55.1417 49.8013 52.5262 52.4168C49.9107 55.0324 46.8056 57.1071 43.3883 58.5226C39.971 59.9381 36.3083 60.6667 32.6094 60.6667V65C41.2289 65 49.4954 61.5759 55.5903 55.481C61.6853 49.386 65.1094 41.1195 65.1094 32.5H60.776ZM32.6094 4.33333C36.3083 4.33333 39.971 5.06189 43.3883 6.47739C46.8056 7.8929 49.9107 9.96764 52.5262 12.5832C55.1417 15.1987 57.2165 18.3037 58.632 21.7211C60.0475 25.1384 60.776 28.8011 60.776 32.5H65.1094C65.1094 23.8805 61.6853 15.614 55.5903 9.51903C49.4954 3.4241 41.2289 0 32.6094 0V4.33333ZM32.6094 0C23.9898 0 15.7233 3.4241 9.6284 9.51903C3.53347 15.614 0.109375 23.8805 0.109375 32.5H4.44271C4.44271 25.0297 7.41026 17.8654 12.6925 12.5832C17.9748 7.30088 25.1391 4.33333 32.6094 4.33333V0ZM27.3054 4.10367L31.6387 6.27033L33.58 2.39633L29.2467 0.229667L27.3054 4.10367ZM30.4427 4.33333V8.66667H34.776V4.33333H30.4427ZM31.6387 6.72967L27.3054 8.89633L29.2467 12.7703L33.58 10.6037L31.6387 6.72967ZM27.0757 12.636L33.5757 16.9693L35.9764 13.364L29.4764 9.03067L27.0757 12.636ZM34.776 17.3333H36.9427V13H34.776V17.3333ZM39.1094 15.1667V10.8333H34.776V15.1667H39.1094ZM36.9427 13H43.4427V8.66667H36.9427V13ZM41.276 10.8333V15.1667H45.6094V10.8333H41.276ZM41.9087 16.7007L44.0754 18.8673L47.1434 15.7993L44.9767 13.6327L41.9087 16.7007ZM43.4427 17.3333V21.6667H47.776V17.3333H43.4427ZM44.0754 20.1327L41.9087 22.2993L44.9767 25.3673L47.1434 23.2007L44.0754 20.1327ZM43.4427 21.6667H39.1094V26H43.4427V21.6667ZM40.08 21.8963L31.4134 17.563L29.472 21.437L38.1387 25.7703L40.08 21.8963ZM29.472 17.563L25.1387 19.7297L27.08 23.6037L31.4134 21.437L29.472 17.563ZM26.1094 19.5H19.6094V23.8333H26.1094V19.5ZM17.5077 21.1423L15.341 29.809L19.5444 30.8577L21.711 22.191L17.5077 21.1423ZM15.9087 31.8673L22.4087 38.3673L25.4767 35.2993L18.9767 28.7993L15.9087 31.8673ZM22.972 38.7703L27.3054 40.937L29.2467 37.063L24.9134 34.8963L22.972 38.7703ZM26.1094 39V45.5H30.4427V39H26.1094ZM26.742 47.034L28.9087 49.2007L31.9767 46.1327L29.81 43.966L26.742 47.034ZM28.276 47.6667V52H32.6094V47.6667H28.276ZM28.5057 52.9707L30.6724 57.304L34.5464 55.3627L32.3797 51.0293L28.5057 52.9707ZM32.6094 58.5H36.9427V54.1667H32.6094V58.5ZM38.7454 57.5337L43.0787 51.0337L39.4734 48.633L35.14 55.133L38.7454 57.5337ZM43.213 50.804L45.3797 46.4707L41.5057 44.5293L39.339 48.8627L43.213 50.804ZM45.6094 45.5V41.1667H41.276V45.5H45.6094ZM45.176 42.4667L51.676 33.8L48.2094 31.2L41.7094 39.8667L45.176 42.4667ZM51.8797 31.5293L49.713 27.196L45.839 29.1373L48.0057 33.4707L51.8797 31.5293ZM47.776 30.3333H54.276V26H47.776V30.3333ZM56.4427 28.1667V23.8333H52.1094V28.1667H56.4427ZM54.276 26H62.9427V21.6667H54.276V26Z" fill="#018371"/>
								</g>
								<defs>
									<clipPath id="clip0_4795_8005">
										<rect width="65" height="65" fill="white" transform="translate(0.109375)"/>
									</clipPath>
								</defs>
							</svg>{{'Country focus'|t}}
						</a>
					</button>
					<button id="section2" >
						<a href="{{ path('view.rapports.page_1') }}">
							<svg xmlns="http://www.w3.org/2000/svg" width="66" height="65" viewbox="0 0 66 65" fill="none">
								<path d="M20.4219 36.5625H36.6719V40.625H20.4219V36.5625ZM20.4219 26.4062H44.7969V30.4688H20.4219V26.4062ZM20.4219 46.7188H30.5781V50.7812H20.4219V46.7188Z" fill="#018371"/>
								<path d="M50.8906 10.1562H44.7969V8.125C44.7969 7.04756 44.3689 6.01425 43.607 5.25238C42.8451 4.49051 41.8118 4.0625 40.7344 4.0625H24.4844C23.4069 4.0625 22.3736 4.49051 21.6118 5.25238C20.8499 6.01425 20.4219 7.04756 20.4219 8.125V10.1562H14.3281C13.2507 10.1562 12.2174 10.5843 11.4555 11.3461C10.6936 12.108 10.2656 13.1413 10.2656 14.2188V56.875C10.2656 57.9524 10.6936 58.9858 11.4555 59.7476C12.2174 60.5095 13.2507 60.9375 14.3281 60.9375H50.8906C51.9681 60.9375 53.0014 60.5095 53.7632 59.7476C54.5251 58.9858 54.9531 57.9524 54.9531 56.875V14.2188C54.9531 13.1413 54.5251 12.108 53.7632 11.3461C53.0014 10.5843 51.9681 10.1562 50.8906 10.1562ZM24.4844 8.125H40.7344V16.25H24.4844V8.125ZM50.8906 56.875H14.3281V14.2188H20.4219V20.3125H44.7969V14.2188H50.8906V56.875Z" fill="#018371"/>
							</svg>
							{{'Africa insights reports'|t}}
						</a>
					</button>
					<button id="section3" class="active">
						<a href="{{ path('view.news.page_1') }}">
							<svg xmlns="http://www.w3.org/2000/svg" width="66" height="65" viewbox="0 0 66 65" fill="none">
								<path d="M14.3281 20.3125C13.7894 20.3125 13.2727 20.5265 12.8918 20.9074C12.5109 21.2884 12.2969 21.805 12.2969 22.3438C12.2969 22.8825 12.5109 23.3991 12.8918 23.7801C13.2727 24.161 13.7894 24.375 14.3281 24.375H42.7656C43.3043 24.375 43.821 24.161 44.2019 23.7801C44.5829 23.3991 44.7969 22.8825 44.7969 22.3438C44.7969 21.805 44.5829 21.2884 44.2019 20.9074C43.821 20.5265 43.3043 20.3125 42.7656 20.3125H14.3281ZM14.3281 28.4375C13.7894 28.4375 13.2727 28.6515 12.8918 29.0324C12.5109 29.4134 12.2969 29.93 12.2969 30.4688V38.5938C12.2969 39.1325 12.5109 39.6491 12.8918 40.0301C13.2727 40.411 13.7894 40.625 14.3281 40.625H22.4531C22.9918 40.625 23.5085 40.411 23.8894 40.0301C24.2704 39.6491 24.4844 39.1325 24.4844 38.5938V30.4688C24.4844 29.93 24.2704 29.4134 23.8894 29.0324C23.5085 28.6515 22.9918 28.4375 22.4531 28.4375H14.3281ZM16.3594 36.5625V32.5H20.4219V36.5625H16.3594ZM30.5781 28.4375C30.0394 28.4375 29.5227 28.6515 29.1418 29.0324C28.7609 29.4134 28.5469 29.93 28.5469 30.4688C28.5469 31.0075 28.7609 31.5241 29.1418 31.9051C29.5227 32.286 30.0394 32.5 30.5781 32.5H42.7656C43.3043 32.5 43.821 32.286 44.2019 31.9051C44.5829 31.5241 44.7969 31.0075 44.7969 30.4688C44.7969 29.93 44.5829 29.4134 44.2019 29.0324C43.821 28.6515 43.3043 28.4375 42.7656 28.4375H30.5781ZM30.5781 36.5625C30.0394 36.5625 29.5227 36.7765 29.1418 37.1574C28.7609 37.5384 28.5469 38.055 28.5469 38.5938C28.5469 39.1325 28.7609 39.6491 29.1418 40.0301C29.5227 40.411 30.0394 40.625 30.5781 40.625H42.7656C43.3043 40.625 43.821 40.411 44.2019 40.0301C44.5829 39.6491 44.7969 39.1325 44.7969 38.5938C44.7969 38.055 44.5829 37.5384 44.2019 37.1574C43.821 36.7765 43.3043 36.5625 42.7656 36.5625H30.5781ZM4.17188 16.25C4.17188 14.0951 5.0279 12.0285 6.55163 10.5048C8.07537 8.98102 10.142 8.125 12.2969 8.125H44.7969C46.9518 8.125 49.0184 8.98102 50.5421 10.5048C52.0658 12.0285 52.9219 14.0951 52.9219 16.25C55.0768 16.25 57.1434 17.106 58.6671 18.6298C60.1908 20.1535 61.0469 22.2201 61.0469 24.375V42.6562C61.0469 45.3499 59.9768 47.9331 58.0722 49.8378C56.1675 51.7425 53.5842 52.8125 50.8906 52.8125H14.3281C11.6345 52.8125 9.05124 51.7425 7.14657 49.8378C5.24191 47.9331 4.17188 45.3499 4.17188 42.6562V16.25ZM50.8906 42.6562C50.3519 42.6562 49.8352 42.4422 49.4543 42.0613C49.0734 41.6804 48.8594 41.1637 48.8594 40.625V16.25C48.8594 15.1726 48.4314 14.1392 47.6695 13.3774C46.9076 12.6155 45.8743 12.1875 44.7969 12.1875H12.2969C11.2194 12.1875 10.1861 12.6155 9.42425 13.3774C8.66239 14.1392 8.23438 15.1726 8.23438 16.25V42.6562C8.23438 44.2724 8.87639 45.8224 10.0192 46.9652C11.162 48.108 12.712 48.75 14.3281 48.75H50.8906C52.5068 48.75 54.0568 48.108 55.1996 46.9652C56.3424 45.8224 56.9844 44.2724 56.9844 42.6562V24.375C56.9844 23.2976 56.5564 22.2642 55.7945 21.5024C55.0326 20.7405 53.9993 20.3125 52.9219 20.3125V40.625C52.9219 41.1637 52.7079 41.6804 52.3269 42.0613C51.946 42.4422 51.4293 42.6562 50.8906 42.6562Z" fill="#018371"/>
							</svg>
							{{'Africa news'|t}}
						</a>
					</button>
				</div>
			</div>
			<div
				class="element--detail row">


				<!-- element 2  -->
				<div class="element-sc active">
					<div class="row">
						<div>
							<div
								class="container">
								<!-- Filter and Search Section -->
								<div class="wrapper-title-filter">
									{{'Explore news'|t}}
								</div>
								<div class="filter-wp">
                	{{ exposed }}
									{# <form>
										<div class="filter-champs">
											<select class="form-select" aria-label="Filter topics">
												<option selected>All topics</option>
												<option value="1">Topic 1</option>
												<option value="2">Topic 2</option>
												<option value="3">Topic 3</option>
											</select>
										</div>
										<div class="filter-champs search-icon">
											<input type="text" class="form-control" placeholder="Search by name">
											<svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewbox="0 0 23 23" fill="none">
												<path d="M9.93178 2.875C8.53608 2.875 7.17173 3.28887 6.01125 4.06428C4.85076 4.83969 3.94628 5.94181 3.41217 7.23127C2.87806 8.52072 2.73831 9.93961 3.0106 11.3085C3.28288 12.6774 3.95498 13.9348 4.94189 14.9217C5.92879 15.9086 7.18619 16.5807 8.55507 16.853C9.92395 17.1252 11.3428 16.9855 12.6323 16.4514C13.9218 15.9173 15.0239 15.0128 15.7993 13.8523C16.5747 12.6918 16.9886 11.3275 16.9886 9.93178C16.9884 8.06024 16.2449 6.26539 14.9215 4.94201C13.5982 3.61864 11.8033 2.87512 9.93178 2.875Z" stroke="black" stroke-miterlimit="10"/>
												<path d="M15.1953 15.1953L20.1237 20.1237" stroke="black" stroke-miterlimit="10" stroke-linecap="round"/>
											</svg>
										</div>
										<div class="filter-champs submit-filter">
											<input type="submit" value="Appliquer" class="form-submit">
										</div>
									</form> #}
								</div>

								<!-- List of Boxes -->
								<div class="row g-4 mt-2" id="list--news-all">

                  {{ rows }}
									<!-- Repeat this block for other items -->
									{# <div class="col-md-4">
										<div class="card">
											<img src="/themes/custom/desktech/Desktech/assets/images/image-1.png" class="card-img-top" alt="Image">
											<div class="card-body">
												<div class="article-date">
													<svg xmlns="http://www.w3.org/2000/svg" width="26" height="27" viewbox="0 0 26 27" fill="none">
														<g clip-path="url(#clip0_4698_14065)">
															<path d="M7.3749 0.71875C7.61625 0.71875 7.84771 0.814625 8.01837 0.985283C8.18902 1.15594 8.2849 1.3874 8.2849 1.62875V3.33045H18.057V1.64045C18.057 1.3991 18.1529 1.16764 18.3235 0.996983C18.4942 0.826325 18.7257 0.73045 18.967 0.73045C19.2083 0.73045 19.4398 0.826325 19.6105 0.996983C19.7811 1.16764 19.877 1.3991 19.877 1.64045V3.33045H23.4C24.0893 3.33045 24.7505 3.6042 25.238 4.09151C25.7256 4.57883 25.9997 5.23981 26 5.92915V24.12C25.9997 24.8094 25.7256 25.4704 25.238 25.9577C24.7505 26.445 24.0893 26.7188 23.4 26.7188H2.6C1.91066 26.7188 1.24954 26.445 0.761982 25.9577C0.274425 25.4704 0.000344669 24.8094 0 24.12L0 5.92915C0.000344669 5.23981 0.274425 4.57883 0.761982 4.09151C1.24954 3.6042 1.91066 3.33045 2.6 3.33045H6.4649V1.62745C6.46524 1.38633 6.56127 1.1552 6.73189 0.984823C6.90251 0.814446 7.13378 0.71875 7.3749 0.71875ZM1.82 10.7833V24.12C1.82 24.2225 1.84018 24.3239 1.87937 24.4185C1.91857 24.5132 1.97603 24.5992 2.04846 24.6716C2.12089 24.744 2.20687 24.8015 2.30151 24.8407C2.39614 24.8799 2.49757 24.9 2.6 24.9H23.4C23.5024 24.9 23.6039 24.8799 23.6985 24.8407C23.7931 24.8015 23.8791 24.744 23.9515 24.6716C24.024 24.5992 24.0814 24.5132 24.1206 24.4185C24.1598 24.3239 24.18 24.2225 24.18 24.12V10.8015L1.82 10.7833ZM8.6671 19.7234V21.8892H6.5V19.7234H8.6671ZM14.0829 19.7234V21.8892H11.9171V19.7234H14.0829ZM19.5 19.7234V21.8892H17.3329V19.7234H19.5ZM8.6671 14.5533V16.7191H6.5V14.5533H8.6671ZM14.0829 14.5533V16.7191H11.9171V14.5533H14.0829ZM19.5 14.5533V16.7191H17.3329V14.5533H19.5ZM6.4649 5.14915H2.6C2.49757 5.14915 2.39614 5.16932 2.30151 5.20852C2.20687 5.24772 2.12089 5.30518 2.04846 5.37761C1.97603 5.45004 1.91857 5.53602 1.87937 5.63066C1.84018 5.72529 1.82 5.82672 1.82 5.92915V8.96465L24.18 8.98285V5.92915C24.18 5.82672 24.1598 5.72529 24.1206 5.63066C24.0814 5.53602 24.024 5.45004 23.9515 5.37761C23.8791 5.30518 23.7931 5.24772 23.6985 5.20852C23.6039 5.16932 23.5024 5.14915 23.4 5.14915H19.877V6.35685C19.877 6.5982 19.7811 6.82966 19.6105 7.00032C19.4398 7.17098 19.2083 7.26685 18.967 7.26685C18.7257 7.26685 18.4942 7.17098 18.3235 7.00032C18.1529 6.82966 18.057 6.5982 18.057 6.35685V5.14915H8.2849V6.34515C8.2849 6.5865 8.18902 6.81796 8.01837 6.98862C7.84771 7.15928 7.61625 7.25515 7.3749 7.25515C7.13355 7.25515 6.90209 7.15928 6.73143 6.98862C6.56077 6.81796 6.4649 6.5865 6.4649 6.34515V5.14915Z" fill="#929292"></path>
														</g>
														<defs>
															<clipPath id="clip0_4698_14065">
																<rect width="26" height="26" fill="white" transform="translate(0 0.71875)"></rect>
															</clipPath>
														</defs>
													</svg>01 Nov 2024</div>
												<h5 class="card-title">Green wealth : How much carbon stock Africa’s forest vegetation
																																																			                            produces ?</h5>
												<div class="btn--pls">
													<a class="" href="/detail_news.html">
														<span>Read more</span>
														<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewbox="0 0 48 48" fill="none">
															<g clip-path="url(#clip0_4948_4128)">
																<path d="M40.7279 22.5873C41.1028 22.9623 41.3135 23.4709 41.3135 24.0013C41.3135 24.5316 41.1028 25.0402 40.7279 25.4153L29.4139 36.7293C29.2294 36.9203 29.0087 37.0727 28.7647 37.1775C28.5207 37.2823 28.2583 37.3375 27.9927 37.3398C27.7271 37.3421 27.4638 37.2915 27.218 37.1909C26.9722 37.0903 26.7489 36.9418 26.5611 36.7541C26.3733 36.5663 26.2248 36.343 26.1243 36.0972C26.0237 35.8514 25.9731 35.588 25.9754 35.3225C25.9777 35.0569 26.0329 34.7945 26.1377 34.5505C26.2425 34.3065 26.3949 34.0858 26.5859 33.9013L34.4859 26.0013H7.9999C7.46947 26.0013 6.96076 25.7906 6.58569 25.4155C6.21062 25.0404 5.9999 24.5317 5.9999 24.0013C5.9999 23.4708 6.21062 22.9621 6.58569 22.5871C6.96076 22.212 7.46947 22.0013 7.9999 22.0013H34.4859L26.5859 14.1013C26.2216 13.7241 26.02 13.2189 26.0246 12.6945C26.0291 12.1701 26.2395 11.6684 26.6103 11.2976C26.9811 10.9268 27.4827 10.7165 28.0071 10.7119C28.5315 10.7074 29.0367 10.9089 29.4139 11.2733L40.7279 22.5873Z" fill="url(#paint0_linear_4948_4128)"></path>
															</g>
															<defs>
																<linearGradient id="paint0_linear_4948_4128" x1="23.6567" y1="37.3398" x2="25.6881" y2="13.0491" gradientunits="userSpaceOnUse">
																	<stop stop-color="#009681"></stop>
																	<stop offset="1" stop-color="#007565"></stop>
																</linearGradient>
																<clipPath id="clip0_4948_4128">
																	<rect width="48" height="48" fill="white" transform="matrix(0 -1 -1 0 48 48)"></rect>
																</clipPath>
															</defs>
														</svg>
													</a>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-4">
										<div class="card">
											<img src="/themes/custom/desktech/Desktech/assets/images/image-2.png" class="card-img-top" alt="Image">
											<div class="card-body">
												<div class="article-date">
													<svg xmlns="http://www.w3.org/2000/svg" width="26" height="27" viewbox="0 0 26 27" fill="none">
														<g clip-path="url(#clip0_4698_14065)">
															<path d="M7.3749 0.71875C7.61625 0.71875 7.84771 0.814625 8.01837 0.985283C8.18902 1.15594 8.2849 1.3874 8.2849 1.62875V3.33045H18.057V1.64045C18.057 1.3991 18.1529 1.16764 18.3235 0.996983C18.4942 0.826325 18.7257 0.73045 18.967 0.73045C19.2083 0.73045 19.4398 0.826325 19.6105 0.996983C19.7811 1.16764 19.877 1.3991 19.877 1.64045V3.33045H23.4C24.0893 3.33045 24.7505 3.6042 25.238 4.09151C25.7256 4.57883 25.9997 5.23981 26 5.92915V24.12C25.9997 24.8094 25.7256 25.4704 25.238 25.9577C24.7505 26.445 24.0893 26.7188 23.4 26.7188H2.6C1.91066 26.7188 1.24954 26.445 0.761982 25.9577C0.274425 25.4704 0.000344669 24.8094 0 24.12L0 5.92915C0.000344669 5.23981 0.274425 4.57883 0.761982 4.09151C1.24954 3.6042 1.91066 3.33045 2.6 3.33045H6.4649V1.62745C6.46524 1.38633 6.56127 1.1552 6.73189 0.984823C6.90251 0.814446 7.13378 0.71875 7.3749 0.71875ZM1.82 10.7833V24.12C1.82 24.2225 1.84018 24.3239 1.87937 24.4185C1.91857 24.5132 1.97603 24.5992 2.04846 24.6716C2.12089 24.744 2.20687 24.8015 2.30151 24.8407C2.39614 24.8799 2.49757 24.9 2.6 24.9H23.4C23.5024 24.9 23.6039 24.8799 23.6985 24.8407C23.7931 24.8015 23.8791 24.744 23.9515 24.6716C24.024 24.5992 24.0814 24.5132 24.1206 24.4185C24.1598 24.3239 24.18 24.2225 24.18 24.12V10.8015L1.82 10.7833ZM8.6671 19.7234V21.8892H6.5V19.7234H8.6671ZM14.0829 19.7234V21.8892H11.9171V19.7234H14.0829ZM19.5 19.7234V21.8892H17.3329V19.7234H19.5ZM8.6671 14.5533V16.7191H6.5V14.5533H8.6671ZM14.0829 14.5533V16.7191H11.9171V14.5533H14.0829ZM19.5 14.5533V16.7191H17.3329V14.5533H19.5ZM6.4649 5.14915H2.6C2.49757 5.14915 2.39614 5.16932 2.30151 5.20852C2.20687 5.24772 2.12089 5.30518 2.04846 5.37761C1.97603 5.45004 1.91857 5.53602 1.87937 5.63066C1.84018 5.72529 1.82 5.82672 1.82 5.92915V8.96465L24.18 8.98285V5.92915C24.18 5.82672 24.1598 5.72529 24.1206 5.63066C24.0814 5.53602 24.024 5.45004 23.9515 5.37761C23.8791 5.30518 23.7931 5.24772 23.6985 5.20852C23.6039 5.16932 23.5024 5.14915 23.4 5.14915H19.877V6.35685C19.877 6.5982 19.7811 6.82966 19.6105 7.00032C19.4398 7.17098 19.2083 7.26685 18.967 7.26685C18.7257 7.26685 18.4942 7.17098 18.3235 7.00032C18.1529 6.82966 18.057 6.5982 18.057 6.35685V5.14915H8.2849V6.34515C8.2849 6.5865 8.18902 6.81796 8.01837 6.98862C7.84771 7.15928 7.61625 7.25515 7.3749 7.25515C7.13355 7.25515 6.90209 7.15928 6.73143 6.98862C6.56077 6.81796 6.4649 6.5865 6.4649 6.34515V5.14915Z" fill="#929292"></path>
														</g>
														<defs>
															<clipPath id="clip0_4698_14065">
																<rect width="26" height="26" fill="white" transform="translate(0 0.71875)"></rect>
															</clipPath>
														</defs>
													</svg>01 Nov 2024</div>
												<h5 class="card-title">Choiseul Africa: Comment financer l’innovation sur le continent?</h5>
												<div class="btn--pls">
													<a class="" href="/detail_news.html">
														<span>Read more</span>
														<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewbox="0 0 48 48" fill="none">
															<g clip-path="url(#clip0_4948_4128)">
																<path d="M40.7279 22.5873C41.1028 22.9623 41.3135 23.4709 41.3135 24.0013C41.3135 24.5316 41.1028 25.0402 40.7279 25.4153L29.4139 36.7293C29.2294 36.9203 29.0087 37.0727 28.7647 37.1775C28.5207 37.2823 28.2583 37.3375 27.9927 37.3398C27.7271 37.3421 27.4638 37.2915 27.218 37.1909C26.9722 37.0903 26.7489 36.9418 26.5611 36.7541C26.3733 36.5663 26.2248 36.343 26.1243 36.0972C26.0237 35.8514 25.9731 35.588 25.9754 35.3225C25.9777 35.0569 26.0329 34.7945 26.1377 34.5505C26.2425 34.3065 26.3949 34.0858 26.5859 33.9013L34.4859 26.0013H7.9999C7.46947 26.0013 6.96076 25.7906 6.58569 25.4155C6.21062 25.0404 5.9999 24.5317 5.9999 24.0013C5.9999 23.4708 6.21062 22.9621 6.58569 22.5871C6.96076 22.212 7.46947 22.0013 7.9999 22.0013H34.4859L26.5859 14.1013C26.2216 13.7241 26.02 13.2189 26.0246 12.6945C26.0291 12.1701 26.2395 11.6684 26.6103 11.2976C26.9811 10.9268 27.4827 10.7165 28.0071 10.7119C28.5315 10.7074 29.0367 10.9089 29.4139 11.2733L40.7279 22.5873Z" fill="url(#paint0_linear_4948_4128)"></path>
															</g>
															<defs>
																<linearGradient id="paint0_linear_4948_4128" x1="23.6567" y1="37.3398" x2="25.6881" y2="13.0491" gradientunits="userSpaceOnUse">
																	<stop stop-color="#009681"></stop>
																	<stop offset="1" stop-color="#007565"></stop>
																</linearGradient>
																<clipPath id="clip0_4948_4128">
																	<rect width="48" height="48" fill="white" transform="matrix(0 -1 -1 0 48 48)"></rect>
																</clipPath>
															</defs>
														</svg>
													</a>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-4">
										<div class="card">
											<img src="/themes/custom/desktech/Desktech/assets/images/image-3.png" class="card-img-top" alt="Image">
											<div class="card-body">
												<div class="article-date">
													<svg xmlns="http://www.w3.org/2000/svg" width="26" height="27" viewbox="0 0 26 27" fill="none">
														<g clip-path="url(#clip0_4698_14065)">
															<path d="M7.3749 0.71875C7.61625 0.71875 7.84771 0.814625 8.01837 0.985283C8.18902 1.15594 8.2849 1.3874 8.2849 1.62875V3.33045H18.057V1.64045C18.057 1.3991 18.1529 1.16764 18.3235 0.996983C18.4942 0.826325 18.7257 0.73045 18.967 0.73045C19.2083 0.73045 19.4398 0.826325 19.6105 0.996983C19.7811 1.16764 19.877 1.3991 19.877 1.64045V3.33045H23.4C24.0893 3.33045 24.7505 3.6042 25.238 4.09151C25.7256 4.57883 25.9997 5.23981 26 5.92915V24.12C25.9997 24.8094 25.7256 25.4704 25.238 25.9577C24.7505 26.445 24.0893 26.7188 23.4 26.7188H2.6C1.91066 26.7188 1.24954 26.445 0.761982 25.9577C0.274425 25.4704 0.000344669 24.8094 0 24.12L0 5.92915C0.000344669 5.23981 0.274425 4.57883 0.761982 4.09151C1.24954 3.6042 1.91066 3.33045 2.6 3.33045H6.4649V1.62745C6.46524 1.38633 6.56127 1.1552 6.73189 0.984823C6.90251 0.814446 7.13378 0.71875 7.3749 0.71875ZM1.82 10.7833V24.12C1.82 24.2225 1.84018 24.3239 1.87937 24.4185C1.91857 24.5132 1.97603 24.5992 2.04846 24.6716C2.12089 24.744 2.20687 24.8015 2.30151 24.8407C2.39614 24.8799 2.49757 24.9 2.6 24.9H23.4C23.5024 24.9 23.6039 24.8799 23.6985 24.8407C23.7931 24.8015 23.8791 24.744 23.9515 24.6716C24.024 24.5992 24.0814 24.5132 24.1206 24.4185C24.1598 24.3239 24.18 24.2225 24.18 24.12V10.8015L1.82 10.7833ZM8.6671 19.7234V21.8892H6.5V19.7234H8.6671ZM14.0829 19.7234V21.8892H11.9171V19.7234H14.0829ZM19.5 19.7234V21.8892H17.3329V19.7234H19.5ZM8.6671 14.5533V16.7191H6.5V14.5533H8.6671ZM14.0829 14.5533V16.7191H11.9171V14.5533H14.0829ZM19.5 14.5533V16.7191H17.3329V14.5533H19.5ZM6.4649 5.14915H2.6C2.49757 5.14915 2.39614 5.16932 2.30151 5.20852C2.20687 5.24772 2.12089 5.30518 2.04846 5.37761C1.97603 5.45004 1.91857 5.53602 1.87937 5.63066C1.84018 5.72529 1.82 5.82672 1.82 5.92915V8.96465L24.18 8.98285V5.92915C24.18 5.82672 24.1598 5.72529 24.1206 5.63066C24.0814 5.53602 24.024 5.45004 23.9515 5.37761C23.8791 5.30518 23.7931 5.24772 23.6985 5.20852C23.6039 5.16932 23.5024 5.14915 23.4 5.14915H19.877V6.35685C19.877 6.5982 19.7811 6.82966 19.6105 7.00032C19.4398 7.17098 19.2083 7.26685 18.967 7.26685C18.7257 7.26685 18.4942 7.17098 18.3235 7.00032C18.1529 6.82966 18.057 6.5982 18.057 6.35685V5.14915H8.2849V6.34515C8.2849 6.5865 8.18902 6.81796 8.01837 6.98862C7.84771 7.15928 7.61625 7.25515 7.3749 7.25515C7.13355 7.25515 6.90209 7.15928 6.73143 6.98862C6.56077 6.81796 6.4649 6.5865 6.4649 6.34515V5.14915Z" fill="#929292"></path>
														</g>
														<defs>
															<clipPath id="clip0_4698_14065">
																<rect width="26" height="26" fill="white" transform="translate(0 0.71875)"></rect>
															</clipPath>
														</defs>
													</svg>01 Nov 2024</div>
												<h5 class="card-title">COP 29: Unlocking Financing for the Green Transition in Emerging &
																																																			                            Developing Economies</h5>
												<div class="btn--pls">
													<a class="" href="/detail_news.html">
														<span>Read more</span>
														<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewbox="0 0 48 48" fill="none">
															<g clip-path="url(#clip0_4948_4128)">
																<path d="M40.7279 22.5873C41.1028 22.9623 41.3135 23.4709 41.3135 24.0013C41.3135 24.5316 41.1028 25.0402 40.7279 25.4153L29.4139 36.7293C29.2294 36.9203 29.0087 37.0727 28.7647 37.1775C28.5207 37.2823 28.2583 37.3375 27.9927 37.3398C27.7271 37.3421 27.4638 37.2915 27.218 37.1909C26.9722 37.0903 26.7489 36.9418 26.5611 36.7541C26.3733 36.5663 26.2248 36.343 26.1243 36.0972C26.0237 35.8514 25.9731 35.588 25.9754 35.3225C25.9777 35.0569 26.0329 34.7945 26.1377 34.5505C26.2425 34.3065 26.3949 34.0858 26.5859 33.9013L34.4859 26.0013H7.9999C7.46947 26.0013 6.96076 25.7906 6.58569 25.4155C6.21062 25.0404 5.9999 24.5317 5.9999 24.0013C5.9999 23.4708 6.21062 22.9621 6.58569 22.5871C6.96076 22.212 7.46947 22.0013 7.9999 22.0013H34.4859L26.5859 14.1013C26.2216 13.7241 26.02 13.2189 26.0246 12.6945C26.0291 12.1701 26.2395 11.6684 26.6103 11.2976C26.9811 10.9268 27.4827 10.7165 28.0071 10.7119C28.5315 10.7074 29.0367 10.9089 29.4139 11.2733L40.7279 22.5873Z" fill="url(#paint0_linear_4948_4128)"></path>
															</g>
															<defs>
																<linearGradient id="paint0_linear_4948_4128" x1="23.6567" y1="37.3398" x2="25.6881" y2="13.0491" gradientunits="userSpaceOnUse">
																	<stop stop-color="#009681"></stop>
																	<stop offset="1" stop-color="#007565"></stop>
																</linearGradient>
																<clipPath id="clip0_4948_4128">
																	<rect width="48" height="48" fill="white" transform="matrix(0 -1 -1 0 48 48)"></rect>
																</clipPath>
															</defs>
														</svg>
													</a>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-4">
										<div class="card">
											<img src="/themes/custom/desktech/Desktech/assets/images/image-4.png" class="card-img-top" alt="Image">
											<div class="card-body">
												<div class="article-date">
													<svg xmlns="http://www.w3.org/2000/svg" width="26" height="27" viewbox="0 0 26 27" fill="none">
														<g clip-path="url(#clip0_4698_14065)">
															<path d="M7.3749 0.71875C7.61625 0.71875 7.84771 0.814625 8.01837 0.985283C8.18902 1.15594 8.2849 1.3874 8.2849 1.62875V3.33045H18.057V1.64045C18.057 1.3991 18.1529 1.16764 18.3235 0.996983C18.4942 0.826325 18.7257 0.73045 18.967 0.73045C19.2083 0.73045 19.4398 0.826325 19.6105 0.996983C19.7811 1.16764 19.877 1.3991 19.877 1.64045V3.33045H23.4C24.0893 3.33045 24.7505 3.6042 25.238 4.09151C25.7256 4.57883 25.9997 5.23981 26 5.92915V24.12C25.9997 24.8094 25.7256 25.4704 25.238 25.9577C24.7505 26.445 24.0893 26.7188 23.4 26.7188H2.6C1.91066 26.7188 1.24954 26.445 0.761982 25.9577C0.274425 25.4704 0.000344669 24.8094 0 24.12L0 5.92915C0.000344669 5.23981 0.274425 4.57883 0.761982 4.09151C1.24954 3.6042 1.91066 3.33045 2.6 3.33045H6.4649V1.62745C6.46524 1.38633 6.56127 1.1552 6.73189 0.984823C6.90251 0.814446 7.13378 0.71875 7.3749 0.71875ZM1.82 10.7833V24.12C1.82 24.2225 1.84018 24.3239 1.87937 24.4185C1.91857 24.5132 1.97603 24.5992 2.04846 24.6716C2.12089 24.744 2.20687 24.8015 2.30151 24.8407C2.39614 24.8799 2.49757 24.9 2.6 24.9H23.4C23.5024 24.9 23.6039 24.8799 23.6985 24.8407C23.7931 24.8015 23.8791 24.744 23.9515 24.6716C24.024 24.5992 24.0814 24.5132 24.1206 24.4185C24.1598 24.3239 24.18 24.2225 24.18 24.12V10.8015L1.82 10.7833ZM8.6671 19.7234V21.8892H6.5V19.7234H8.6671ZM14.0829 19.7234V21.8892H11.9171V19.7234H14.0829ZM19.5 19.7234V21.8892H17.3329V19.7234H19.5ZM8.6671 14.5533V16.7191H6.5V14.5533H8.6671ZM14.0829 14.5533V16.7191H11.9171V14.5533H14.0829ZM19.5 14.5533V16.7191H17.3329V14.5533H19.5ZM6.4649 5.14915H2.6C2.49757 5.14915 2.39614 5.16932 2.30151 5.20852C2.20687 5.24772 2.12089 5.30518 2.04846 5.37761C1.97603 5.45004 1.91857 5.53602 1.87937 5.63066C1.84018 5.72529 1.82 5.82672 1.82 5.92915V8.96465L24.18 8.98285V5.92915C24.18 5.82672 24.1598 5.72529 24.1206 5.63066C24.0814 5.53602 24.024 5.45004 23.9515 5.37761C23.8791 5.30518 23.7931 5.24772 23.6985 5.20852C23.6039 5.16932 23.5024 5.14915 23.4 5.14915H19.877V6.35685C19.877 6.5982 19.7811 6.82966 19.6105 7.00032C19.4398 7.17098 19.2083 7.26685 18.967 7.26685C18.7257 7.26685 18.4942 7.17098 18.3235 7.00032C18.1529 6.82966 18.057 6.5982 18.057 6.35685V5.14915H8.2849V6.34515C8.2849 6.5865 8.18902 6.81796 8.01837 6.98862C7.84771 7.15928 7.61625 7.25515 7.3749 7.25515C7.13355 7.25515 6.90209 7.15928 6.73143 6.98862C6.56077 6.81796 6.4649 6.5865 6.4649 6.34515V5.14915Z" fill="#929292"></path>
														</g>
														<defs>
															<clipPath id="clip0_4698_14065">
																<rect width="26" height="26" fill="white" transform="translate(0 0.71875)"></rect>
															</clipPath>
														</defs>
													</svg>01 Nov 2024</div>
												<h5 class="card-title">Adesina, AfDB: Measuring the Green Wealth of Nations</h5>
												<div class="btn--pls">
													<a class="" href="/detail_news.html">
														<span>Read more</span>
														<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewbox="0 0 48 48" fill="none">
															<g clip-path="url(#clip0_4948_4128)">
																<path d="M40.7279 22.5873C41.1028 22.9623 41.3135 23.4709 41.3135 24.0013C41.3135 24.5316 41.1028 25.0402 40.7279 25.4153L29.4139 36.7293C29.2294 36.9203 29.0087 37.0727 28.7647 37.1775C28.5207 37.2823 28.2583 37.3375 27.9927 37.3398C27.7271 37.3421 27.4638 37.2915 27.218 37.1909C26.9722 37.0903 26.7489 36.9418 26.5611 36.7541C26.3733 36.5663 26.2248 36.343 26.1243 36.0972C26.0237 35.8514 25.9731 35.588 25.9754 35.3225C25.9777 35.0569 26.0329 34.7945 26.1377 34.5505C26.2425 34.3065 26.3949 34.0858 26.5859 33.9013L34.4859 26.0013H7.9999C7.46947 26.0013 6.96076 25.7906 6.58569 25.4155C6.21062 25.0404 5.9999 24.5317 5.9999 24.0013C5.9999 23.4708 6.21062 22.9621 6.58569 22.5871C6.96076 22.212 7.46947 22.0013 7.9999 22.0013H34.4859L26.5859 14.1013C26.2216 13.7241 26.02 13.2189 26.0246 12.6945C26.0291 12.1701 26.2395 11.6684 26.6103 11.2976C26.9811 10.9268 27.4827 10.7165 28.0071 10.7119C28.5315 10.7074 29.0367 10.9089 29.4139 11.2733L40.7279 22.5873Z" fill="url(#paint0_linear_4948_4128)"></path>
															</g>
															<defs>
																<linearGradient id="paint0_linear_4948_4128" x1="23.6567" y1="37.3398" x2="25.6881" y2="13.0491" gradientunits="userSpaceOnUse">
																	<stop stop-color="#009681"></stop>
																	<stop offset="1" stop-color="#007565"></stop>
																</linearGradient>
																<clipPath id="clip0_4948_4128">
																	<rect width="48" height="48" fill="white" transform="matrix(0 -1 -1 0 48 48)"></rect>
																</clipPath>
															</defs>
														</svg>
													</a>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-4">
										<div class="card">
											<img src="/themes/custom/desktech/Desktech/assets/images/image-5.png" class="card-img-top" alt="Image">
											<div class="card-body">
												<div class="article-date">
													<svg xmlns="http://www.w3.org/2000/svg" width="26" height="27" viewbox="0 0 26 27" fill="none">
														<g clip-path="url(#clip0_4698_14065)">
															<path d="M7.3749 0.71875C7.61625 0.71875 7.84771 0.814625 8.01837 0.985283C8.18902 1.15594 8.2849 1.3874 8.2849 1.62875V3.33045H18.057V1.64045C18.057 1.3991 18.1529 1.16764 18.3235 0.996983C18.4942 0.826325 18.7257 0.73045 18.967 0.73045C19.2083 0.73045 19.4398 0.826325 19.6105 0.996983C19.7811 1.16764 19.877 1.3991 19.877 1.64045V3.33045H23.4C24.0893 3.33045 24.7505 3.6042 25.238 4.09151C25.7256 4.57883 25.9997 5.23981 26 5.92915V24.12C25.9997 24.8094 25.7256 25.4704 25.238 25.9577C24.7505 26.445 24.0893 26.7188 23.4 26.7188H2.6C1.91066 26.7188 1.24954 26.445 0.761982 25.9577C0.274425 25.4704 0.000344669 24.8094 0 24.12L0 5.92915C0.000344669 5.23981 0.274425 4.57883 0.761982 4.09151C1.24954 3.6042 1.91066 3.33045 2.6 3.33045H6.4649V1.62745C6.46524 1.38633 6.56127 1.1552 6.73189 0.984823C6.90251 0.814446 7.13378 0.71875 7.3749 0.71875ZM1.82 10.7833V24.12C1.82 24.2225 1.84018 24.3239 1.87937 24.4185C1.91857 24.5132 1.97603 24.5992 2.04846 24.6716C2.12089 24.744 2.20687 24.8015 2.30151 24.8407C2.39614 24.8799 2.49757 24.9 2.6 24.9H23.4C23.5024 24.9 23.6039 24.8799 23.6985 24.8407C23.7931 24.8015 23.8791 24.744 23.9515 24.6716C24.024 24.5992 24.0814 24.5132 24.1206 24.4185C24.1598 24.3239 24.18 24.2225 24.18 24.12V10.8015L1.82 10.7833ZM8.6671 19.7234V21.8892H6.5V19.7234H8.6671ZM14.0829 19.7234V21.8892H11.9171V19.7234H14.0829ZM19.5 19.7234V21.8892H17.3329V19.7234H19.5ZM8.6671 14.5533V16.7191H6.5V14.5533H8.6671ZM14.0829 14.5533V16.7191H11.9171V14.5533H14.0829ZM19.5 14.5533V16.7191H17.3329V14.5533H19.5ZM6.4649 5.14915H2.6C2.49757 5.14915 2.39614 5.16932 2.30151 5.20852C2.20687 5.24772 2.12089 5.30518 2.04846 5.37761C1.97603 5.45004 1.91857 5.53602 1.87937 5.63066C1.84018 5.72529 1.82 5.82672 1.82 5.92915V8.96465L24.18 8.98285V5.92915C24.18 5.82672 24.1598 5.72529 24.1206 5.63066C24.0814 5.53602 24.024 5.45004 23.9515 5.37761C23.8791 5.30518 23.7931 5.24772 23.6985 5.20852C23.6039 5.16932 23.5024 5.14915 23.4 5.14915H19.877V6.35685C19.877 6.5982 19.7811 6.82966 19.6105 7.00032C19.4398 7.17098 19.2083 7.26685 18.967 7.26685C18.7257 7.26685 18.4942 7.17098 18.3235 7.00032C18.1529 6.82966 18.057 6.5982 18.057 6.35685V5.14915H8.2849V6.34515C8.2849 6.5865 8.18902 6.81796 8.01837 6.98862C7.84771 7.15928 7.61625 7.25515 7.3749 7.25515C7.13355 7.25515 6.90209 7.15928 6.73143 6.98862C6.56077 6.81796 6.4649 6.5865 6.4649 6.34515V5.14915Z" fill="#929292"></path>
														</g>
														<defs>
															<clipPath id="clip0_4698_14065">
																<rect width="26" height="26" fill="white" transform="translate(0 0.71875)"></rect>
															</clipPath>
														</defs>
													</svg>01 Nov 2024</div>
												<h5 class="card-title">COP29: protests as world leaders agree on $300bn climate finance deal
																																																			                            to help poorer countries</h5>
												<div class="btn--pls">
													<a class="" href="/detail_news.html">
														<span>Read more</span>
														<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewbox="0 0 48 48" fill="none">
															<g clip-path="url(#clip0_4948_4128)">
																<path d="M40.7279 22.5873C41.1028 22.9623 41.3135 23.4709 41.3135 24.0013C41.3135 24.5316 41.1028 25.0402 40.7279 25.4153L29.4139 36.7293C29.2294 36.9203 29.0087 37.0727 28.7647 37.1775C28.5207 37.2823 28.2583 37.3375 27.9927 37.3398C27.7271 37.3421 27.4638 37.2915 27.218 37.1909C26.9722 37.0903 26.7489 36.9418 26.5611 36.7541C26.3733 36.5663 26.2248 36.343 26.1243 36.0972C26.0237 35.8514 25.9731 35.588 25.9754 35.3225C25.9777 35.0569 26.0329 34.7945 26.1377 34.5505C26.2425 34.3065 26.3949 34.0858 26.5859 33.9013L34.4859 26.0013H7.9999C7.46947 26.0013 6.96076 25.7906 6.58569 25.4155C6.21062 25.0404 5.9999 24.5317 5.9999 24.0013C5.9999 23.4708 6.21062 22.9621 6.58569 22.5871C6.96076 22.212 7.46947 22.0013 7.9999 22.0013H34.4859L26.5859 14.1013C26.2216 13.7241 26.02 13.2189 26.0246 12.6945C26.0291 12.1701 26.2395 11.6684 26.6103 11.2976C26.9811 10.9268 27.4827 10.7165 28.0071 10.7119C28.5315 10.7074 29.0367 10.9089 29.4139 11.2733L40.7279 22.5873Z" fill="url(#paint0_linear_4948_4128)"></path>
															</g>
															<defs>
																<linearGradient id="paint0_linear_4948_4128" x1="23.6567" y1="37.3398" x2="25.6881" y2="13.0491" gradientunits="userSpaceOnUse">
																	<stop stop-color="#009681"></stop>
																	<stop offset="1" stop-color="#007565"></stop>
																</linearGradient>
																<clipPath id="clip0_4948_4128">
																	<rect width="48" height="48" fill="white" transform="matrix(0 -1 -1 0 48 48)"></rect>
																</clipPath>
															</defs>
														</svg>
													</a>
												</div>>
											</div>
										</div>
									</div> #}
								</div>

								<!-- Pagination -->
								{# <nav class="mt-4 paginations-list text-center">
									<div class="paginations-wp">
										<div class="pagination-wp-lists">
											<nav class="pager" role="navigation" aria-labelledby="pagination-heading">
												<ul class="pagination-success">

													<li class="page-item active">
														<a href="#" title="Page courante">
															<span class="visually-hidden">
																Page courante
															</span>1</a>
													</li>
													<li class="page-item">
														<a href="#" title="Go to page 2">
															<span class="visually-hidden">
																Page
															</span>2</a>
													</li>
													<li class="page-item">
														<a href="#" title="Go to page 3">
															<span class="visually-hidden">
																Page
															</span>3</a>
													</li>
													<li class="page-item">
														<a href="#" title="Go to page 4">
															<span class="visually-hidden">
																Page
															</span>4</a>
													</li>
													<li class="page-item">
														<a href="#" title="Go to page 5">
															<span class="visually-hidden">
																Page
															</span>5</a>
													</li>


												</ul>
											</nav>
										</div>
									</div>
								</nav> #}
                	{{ pager }}
							</div>

						</div>
					</div>

					<!--  -->
				</div>
			</div>
		</div>
		<!--  -->

	</div>
</div></section>
