{#
/**
 * @file
 * Default view template to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 *
 * @ingroup themeable
 */
#}


{#  #}

{# Assuming the YouTube video URL is stored in a variable called youtubeVideoUrl #}

{# Extract the video ID from the URL using Twig (you might need to create a custom Twig filter) #}

			{# {% set base_url = url('<front>')["#markup"]|split('/')|slice(0, 3)|join('/') %}

<div class="col-md-4">
  <div class="card">
    <img src="{{ file_url(row._entity.field_image_rapport.entity.fileuri) }}" class="card-img-top" alt="Image">
    <div class="card-body">

      <h5 class="card-title">{{ fields.title.content }}</h5>
      <div class="btn--pls">
        <a class="click--modal-hp" data-pdf="{{ base_url }}/{{ file_url(row._entity.field_pdf.entity.fileuri) }}" href="{{ file_url(row._entity.field_pdf.entity.fileuri) }}" download="">
          <span>{{'Download'|t}}</span>
          <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewbox="0 0 48 48" fill="none">
            <g clip-path="url(#clip0_4948_4128)">
              <path d="M40.7279 22.5873C41.1028 22.9623 41.3135 23.4709 41.3135 24.0013C41.3135 24.5316 41.1028 25.0402 40.7279 25.4153L29.4139 36.7293C29.2294 36.9203 29.0087 37.0727 28.7647 37.1775C28.5207 37.2823 28.2583 37.3375 27.9927 37.3398C27.7271 37.3421 27.4638 37.2915 27.218 37.1909C26.9722 37.0903 26.7489 36.9418 26.5611 36.7541C26.3733 36.5663 26.2248 36.343 26.1243 36.0972C26.0237 35.8514 25.9731 35.588 25.9754 35.3225C25.9777 35.0569 26.0329 34.7945 26.1377 34.5505C26.2425 34.3065 26.3949 34.0858 26.5859 33.9013L34.4859 26.0013H7.9999C7.46947 26.0013 6.96076 25.7906 6.58569 25.4155C6.21062 25.0404 5.9999 24.5317 5.9999 24.0013C5.9999 23.4708 6.21062 22.9621 6.58569 22.5871C6.96076 22.212 7.46947 22.0013 7.9999 22.0013H34.4859L26.5859 14.1013C26.2216 13.7241 26.02 13.2189 26.0246 12.6945C26.0291 12.1701 26.2395 11.6684 26.6103 11.2976C26.9811 10.9268 27.4827 10.7165 28.0071 10.7119C28.5315 10.7074 29.0367 10.9089 29.4139 11.2733L40.7279 22.5873Z" fill="url(#paint0_linear_4948_4128)"></path>
            </g>
            <defs>
              <linearGradient id="paint0_linear_4948_4128" x1="23.6567" y1="37.3398" x2="25.6881" y2="13.0491" gradientunits="userSpaceOnUse">
                <stop stop-color="#009681"></stop>
                <stop offset="1" stop-color="#007565"></stop>
              </linearGradient>
              <clipPath id="clip0_4948_4128">
                <rect width="48" height="48" fill="white" transform="matrix(0 -1 -1 0 48 48)"></rect>
              </clipPath>
            </defs>
          </svg>
        </a>
      </div>
    </div>
  </div>
</div> #}



      <div class="col-md-3">
          <div class="items--sc-blg">
            <div class="img--all-blog">
              <img src="{{ file_url(row._entity.field_image_imprimer.entity.fileuri) }}">
            </div>
            <div class="card-item-all">
              <h2>{{ fields.title.content }}</h2>
              <a href="{{ path('entity.node.canonical', {'node':row._entity.nid.value}) }}">{{'Voir plus'|t}}</a>
            </div>
          </div>
        </div>
