{#
/**
 * @file
 * Default theme implementation for a menu block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - in_preview: Whether the plugin is being rendered in preview mode.
 * - content: The content of this block.
 * - attributes: HTML attributes for the containing element.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: HTML attributes for the title element.
 * - content_attributes: HTML attributes for the content element.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * Headings should be used on navigation menus that consistently appear on
 * multiple pages. When this menu block's label is configured to not be
 * displayed, it is automatically made invisible using the 'visually-hidden' CSS
 * class, which still keeps it visible for screen-readers and assistive
 * technology. Headings allow screen-reader and keyboard only users to navigate
 * to or skip the links.
 * See http://juicystudio.com/article/screen-readers-display-none.php and
 * http://www.w3.org/TR/WCAG-TECHS/H42.html for more information.
 *
 * @ingroup themeable
 */
#}

{# <section class="section--slider">
    <div class="slider-main">
        <div class="wrapper-slider">
            {{ content.field_image_banner }}
        </div>
    </div>
    <div class="paragraph-wrapper">
        <div class="container">
            {{ content.field_title}}
            {{ content.field_body }}
            <div class="wrapper_btn">
                {{ content.field_link }}
            </div>
        </div>
    </div>
</section> #}
  <!-- Slider Section -->
  <section class="slider">
    <div class="slider-overlay"></div>

    {# <video class="slider-video" autoplay muted loop playsinline preload="metadata">
      <source src="here video name field field_video" type="video/mp4">
    </video> #}
{% if content.field_video %}
  <div class="slider-video">
    {% for item in content.field_video['#items'] %}
      {% set video_url = item.entity.field_media_video_file.entity.uri.value|file_url %}
      <video class="slider-video" autoplay muted loop playsinline preload="metadata">
        <source src="{{ video_url }}" type="video/mp4">
      </video>
    {% endfor %}
  </div>
{% endif %}

    <!-- <img class="slider-video" src="/themes/custom/desktech/Desktech/assets/images/slider-1.png"> -->

    <div class="slider-content">
      <h1 class="display-4 fw-bold">{{ content.field_titre_slider}}</h1>
 {{ content.body }}
      <div class="search-filter">
        {# <form class="d-flex align-items-center">
          <input type="text" class="form-control form-control-lg" placeholder="Search...">
          <button type="submit" class="btn">
            <i class="fas fa-search"></i>
          </button>
        </form> #}
   {# <form class="d-flex align-items-center">
          <input type="text" class="form-control form-control-lg" placeholder="Search...">
          <button type="submit" class="btn">
            <i class="fas fa-search"></i>
          </button>
        </form> #}
          {# <form class="d-flex align-items-center">
          <input type="text" class="form-control form-control-lg" placeholder="Search...">
          <button type="submit" class="btn">
            <i class="fas fa-search"></i>
          </button>
        </form> #}
             {# <form class="d-flex align-items-center">
          <input type="text" class="form-control form-control-lg" placeholder="Search...">
          <button type="submit" class="btn">
            <i class="fas fa-search"></i>
          </button>
        </form> #}
        <div id="form__drupal_sb">
          {{ drupal_entity('block','cfc_exposedformsearch_contentblock_1') }}

        </div>

        <div class="sugg--btn">
          <div>
            <p class="mt-2">{{'Suggested'|t}}:</p>
          </div>
          <div>
            {# <div class="menu_banner_link">
              <button class="btn btn-outline-light"><a href="/become-a-member">How to become a member?</a></button>
              <button class="btn btn-outline-light"><a href="/whats_on.html">Upcoming CFC events</a></button>
              <button class="btn btn-outline-light"><a href="/africa_insights.html">Africa economic
                  insights</a></button>
              <button class="btn btn-outline-light"><a href="/Doing businesss.html">Doing business</a></button>
              <button class="btn btn-outline-light"><a href="#filter-verticale">CFC members</a></button>
            </div> #}
              	{{ drupal_entity('block','cfc_menubannerhp') }}
          </div>
        </div>
      </div>
    </div>
  </section>

