{# <div class="col-md-4">
	<div class="team-card">
		<div>
			<img class="img-fluid" src="{{ file_url(row._entity.field_image_team.entity.fileuri) }}" alt="Said IBRAHIMI" width="522" height="283">

		</div>
		<h5>
			{{fields.title.content }}
		</h5>
		<p>
			{{fields.field_role_team.content }}
		</p>
	</div>
</div> #}


		<div class="card">
			<div class="ocrd_item_culture">
				<img src="{{ file_url(row._entity.field_image.entity.fileuri) }}" alt="Said IBRAHIMI" width="522" height="283">

				<h4>
					{{fields.title.content }}</h4>
				<p>
					{{fields.body.content }}</p>
			</div>
			<div class="btn_bottom_align">
				<span>{{fields.field_cfc_exclusive.content }}</span>
				<span class="btn_btm_avantage">
					<a href="#">Voir le détail
						<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewbox="0 0 36 36" fill="none">
							<g clip-path="url(#clip0_7150_16843)">
								<path d="M30.5452 16.9434C30.8264 17.2247 30.9844 17.6061 30.9844 18.0039C30.9844 18.4016 30.8264 18.7831 30.5452 19.0644L22.0597 27.5499C21.9213 27.6931 21.7558 27.8074 21.5728 27.886C21.3898 27.9646 21.193 28.006 20.9938 28.0078C20.7946 28.0095 20.5971 27.9715 20.4128 27.8961C20.2284 27.8207 20.0609 27.7093 19.9201 27.5685C19.7793 27.4276 19.6679 27.2602 19.5925 27.0758C19.517 26.8915 19.4791 26.6939 19.4808 26.4948C19.4825 26.2956 19.5239 26.0988 19.6025 25.9158C19.6812 25.7328 19.7954 25.5673 19.9387 25.4289L25.8637 19.5039H5.9992C5.60137 19.5039 5.21984 19.3458 4.93853 19.0645C4.65723 18.7832 4.4992 18.4017 4.4992 18.0039C4.4992 17.6061 4.65723 17.2245 4.93853 16.9432C5.21984 16.6619 5.60137 16.5039 5.9992 16.5039H25.8637L19.9387 10.5789C19.6655 10.296 19.5143 9.91707 19.5177 9.52378C19.5211 9.13048 19.6789 8.75426 19.957 8.47615C20.2351 8.19804 20.6113 8.04029 21.0046 8.03687C21.3979 8.03345 21.7768 8.18464 22.0597 8.45788L30.5452 16.9434Z" fill="url(#paint0_linear_7150_16843)"/>
							</g>
							<defs>
								<linearGradient id="paint0_linear_7150_16843" x1="17.7418" y1="28.0078" x2="19.2653" y2="9.78976" gradientunits="userSpaceOnUse">
									<stop stop-color="#009681"/>
									<stop offset="1" stop-color="#007565"/>
								</linearGradient>
								<clipPath id="clip0_7150_16843">
									<rect width="36" height="36" fill="white" transform="matrix(0 -1 -1 0 36 36)"/>
								</clipPath>
							</defs>
						</svg>
					</a>
				</span>
			</div>
			<div class="wisiwig--content-ps d-none">
				{{fields.field_body_modal.content }}
				{# <h4>Le Studio des Arts Vivants 2</h4>
						<div class="wisiwig--content-text">
							Profitez de tarifs exclusifs CFC dans tous les hôtels ONOMO au Maroc : Casablanca, Rabat et Tanger.
							<br>
							Comment bénéficier de l’offre ?
							<br>
							En ligne sur le site officiel de Onomo : www.onomohotels.com , en utilisant le code exclusif CFC25 pour
							                bénéficier de tarifs spéciaux. 
							                Pour toute autre réservation, contactez par téléphone ou par email l’établissement qui vous intéresse en
							                utilisant les coordonnées ci-dessous :
							<br>
							ONOMO HOTEL CASABLANCA CITY CENTER 4****
							<br>
							Tel : + 212 (0) 5 20 00 10 10
							<br>
							Mobile : 212 (0) 632 66 66 20
							<br>
							E-mail : reservation1.massira@onomohotel.com / reservation.maroc@onomohotel.com
							<br>
				
							ONOMO HOTEL CASABLANCA SIDI MAAROUF 3***
							<br>
							Tel : + 212 (0) 5 20 00 12 00
						</div> #}
			</div>
		</div>
