{# <div class="select-items">


 {{ rows }}
</div>
 <div class="select-items">
    {{ rows }}
</div>

{{ dump(content) }} #}


{# ********* #}

  {# <section class="three_block_news">
    <div class="container">
      <div class="row g-4 mt-2" id="list--news-all">
        {{ rows }}

      </div>
    </div>
  </section> #}


  <section class="lists--all-blog">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="top__recent_blog">
            <h3>{{'Posts récents'|t}}</h3>
            <a href="{{ path('view.blog.page_1') }}">{{'Voir tout'|t}}</a>
          </div>
        </div>
      </div>

      <div class="row">
        {# <div class="col-md-4">
          <div class="items--sc-blg">
            <div class="img--all-blog">
              <img src="/themes/custom/desktech/Desktech/assets/images/card1-1.png">
            </div>
            <div class="card-item-all">
              <h5>23 déc. 2024</h5>
              <h2>L’Imprimante Multifonction Parfaite au Maroc : Ricoh IM 370F</h2>
              <p>Chez  Desktech , nous comprenons l’importance d’une imprimante fiable pour les entreprises marocaines.
                La Ricoh IM 370F combine...</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="items--sc-blg">
            <div class="img--all-blog">
              <img src="/themes/custom/desktech/Desktech/assets/images/card1-1.png">
            </div>
            <div class="card-item-all">
              <h5>23 déc. 2024</h5>
              <h2>L’Imprimante Multifonction Parfaite au Maroc : Ricoh IM 370F</h2>
              <p>Chez  Desktech , nous comprenons l’importance d’une imprimante fiable pour les entreprises marocaines.
                La Ricoh IM 370F combine...</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="items--sc-blg">
            <div class="img--all-blog">
              <img src="/themes/custom/desktech/Desktech/assets/images/card1-1.png">
            </div>
            <div class="card-item-all">
              <h5>23 déc. 2024</h5>
              <h2>L’Imprimante Multifonction Parfaite au Maroc : Ricoh IM 370F</h2>
              <p>Chez  Desktech , nous comprenons l’importance d’une imprimante fiable pour les entreprises marocaines.
                La Ricoh IM 370F combine...</p>
            </div>
          </div>
        </div> #}
 {{ rows }}
      </div>
    </div>
  </section>
