{#
/**
 * @file
 * Default theme implementation of a views exposed form.
 *
 * Available variables:
 * - form: A render element representing the form.
 *
 * @see template_preprocess_views_exposed_form()
 *
 * @ingroup themeable
 */
#}

{# <form {{ attributes }}>
  <div class="row mb-4">
    <div class="col-12 col-md-3 mb-3">
     {{ form.sort_bef_combine }}
    </div>
    <div class="col-12 col-md-3 mb-3">
      {{ form.year }}
    </div>

    <!-- Action search -->
    <div class="col-auto mb-3">
      {{ form.actions }}
    </div>
  </div>
</form> #}

{# views-exposed-form--news-page-1.html.twig #}
<form {{ attributes }}>
    <div class="filter-champs">
        {# Render the exposed filter select field for topics #}
        {{ form.field_list_filter_categorie_value }}
    </div>

    <div class="filter-champs search-icon">
        {# Render the exposed filter input field for title or name search #}
        {{ form.title }}
        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewbox="0 0 23 23" fill="none">
												<path d="M9.93178 2.875C8.53608 2.875 7.17173 3.28887 6.01125 4.06428C4.85076 4.83969 3.94628 5.94181 3.41217 7.23127C2.87806 8.52072 2.73831 9.93961 3.0106 11.3085C3.28288 12.6774 3.95498 13.9348 4.94189 14.9217C5.92879 15.9086 7.18619 16.5807 8.55507 16.853C9.92395 17.1252 11.3428 16.9855 12.6323 16.4514C13.9218 15.9173 15.0239 15.0128 15.7993 13.8523C16.5747 12.6918 16.9886 11.3275 16.9886 9.93178C16.9884 8.06024 16.2449 6.26539 14.9215 4.94201C13.5982 3.61864 11.8033 2.87512 9.93178 2.875Z" stroke="black" stroke-miterlimit="10"/>
												<path d="M15.1953 15.1953L20.1237 20.1237" stroke="black" stroke-miterlimit="10" stroke-linecap="round"/>
											</svg>
    </div>

    <div class="filter-champs submit-filter">
        {# Render the submit button #}
        {{ form.actions.submit }}
    </div>
</form>
