<form{{attributes}}>
			{{ title_prefix }}
			{{ children }}
			{{ title_suffix }}
		</form>
{# {{dump( children )}}
<div class="mb-3">
	<label for="fullName" class="form-label">Nom complet</label>
	<input type="text" class="form-control" id="fullName" placeholder="Votre nom complet">
</div>

<!-- Email -->
<div class="mb-3">
	<label for="email" class="form-label">Email</label>
	<input type="email" class="form-control" id="email" placeholder="votre@email.com">
</div>

<!-- Numéro de téléphone -->
<div class="mb-3">
	<label for="phoneNumber" class="form-label">Numéro de téléphone</label>
	<input type="text" class="form-control" id="phoneNumber" placeholder="+212 ...">
</div>

<!-- Fichier PDF -->
<div class="mb-3">
	<label for="resume" class="form-label">Résumé</label>
	<div class="custom-file-upload">
		<input type="file" id="resume" name="resume" accept=".pdf">
		<p>Glissez-déposez votre PDF ici</p>
		<label for="resume" class="upload-btn">Choisir un fichier</label>
		<p class="note">PDF uniquement</p>
	</div>
</div> #}
